{% extends "base.html" %}
{% load static %}
{% block body_class %}template-404{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-8 offset-md1">
        <h1>Something broke, badly...</h1>

        <h3>500 Internal Server Error</h3>
        
        <div><img src="{% static 'cracked_tank.jpg' %}" style="max-width:100%;"></img></div>
        <span class="text-muted">rrasco / Reef Central had it worse than this, though</span>
      </div>  
    </div>
</div>
{% endblock %}