{% extends "base.html" %}


{% block title %}About site{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-10 offset-md1">
        <h1>About auction.fish</h1>
        <br>My local fish club, the <a href='https://www.tfcb.org'>Tropical Fish Club of Burlington</a>, hasn't been able to have in person auctions since COVID started.<br><br>
        I decided to develop this site for clubs who need a way to run auctions.
      <br><br>This site is freely available for anyone to use, and I intend to maintain it at least until in-person meetings are possible again.<br><br>
      <h1>FAQ</h1>
      <br><h4>How do I get started?</h4>{% if request.user.is_authenticated %} You've already signed up, so you're already well on your way!<br>
      <br>
      If you want to start an auction for your club, <a href="/auctions/new/">create an auction</a>
      <br><br>If you're a club member and want to add lots to an existing auction, click <a href="/lots/new/">create lot</a>.{% else %}<a href="/signup/">Sign up for an account</a>, then you'll be able to create an auction or add lots to an existing auction.{% endif %}<br>
      <br><h4>How much does it cost?</h4>It's free for clubs to create and run auctions.  Clubs can choose to take a cut, but this site does not.<br>
      <br><h4>Why don't you handle payments?</h4>Taxes are a lot of work.  If this site is going to remain free, clubs need to be responsible for their own payment systems.<br>
      <br><h4>I don't belong to a club.  Can I sell just one lot?</h4>No, I'm not interested in competing with Aquabid at the moment.  But if this is something you want to see, leave a comment or thumbs up <a href='https://github.com/iragm/fishauctions/issues/4'>here</a><br>
      <br><h4>Why not Facebook/Craigslist?</h4>You can't sell animals on these sites, and you definitely can't run club auctions<br>
      <br><h4>What can I sell/buy?</h4>Fish, reptiles, amphibians, plants, tanks, substrate, lighting, and just about anything related to keeping these critters<br>
      <br><h4>What <b>can't</b> I sell/buy?</h4>Anything illegal.  Find someplace else to sell your drugs and illegal fish/plants.  You'll be banned without warning if you try to sell anything illegal<br>
      <br><h4>I have a suggestion for a new feature (or found a bug).  What now?</h4> Please open an issue on <a href="https://github.com/iragm/fishauctions/issues">this project's GitHub</a>.<br>
      <br><h4>This site is ugly and terrible</h4>Please state your insults in the form of a question.<br>
    </div>
</div>
</div>
{% endblock %}