{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Pickup locations
{% endblock %}
{% load static %}
{% block content %}
{% include 'auction_ribbon.html' %}
      <a href="{% url 'create_auction_pickup_location' slug=auction.slug %}" class="btn btn-success btn-sm mt-2" role="button">Add pickup location</a>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Number of users</th>
              <th scope="col">Get directions</th>
            </tr>
          </thead>
          <tbody>
            {% for location in object_list %}
            <tr>
              <td><a href='/locations/edit/{{location.pk}}'>{{ location.name }}</a></td>
              <td>{{ location.number_of_users }}</td>
              <td>{% if location.has_coordinates %}<a href={{ location.directions_link }}>Directions</a> {% else %} Location not set {% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>

{% endblock %}
{% block extra_js %}
<script type='text/javascript'>pageView();</script>
{% endblock %}
