{% extends "base.html" %}

{% block title %}Invoices{% endblock %}
{% load static %}
{% block content %}
<h5>Invoices</h5>
<small>This is a list of invoices for auctions you've participated in.  If you didn't buy or sell any lots in an auction, you won't get an invoice.</small>
<br>
<br>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Invoice</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for invoice in object_list %}
            <tr>
              <td><a href="/invoices/{{invoice.pk}}/">{{ invoice.label }}</a></td>
              <td>{% if invoice.user_should_be_paid or invoice.net == 0 %}
                  ${{ invoice.calculated_total|floatformat:2 }}
                {% else %}
                  <span class='text-danger'>(${{ invoice.calculated_total|floatformat:2 }})</span>
                {% endif %}
                </td>
              <td>{{ invoice.get_status_display }}</td>
              <td>{{ invoice.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}
{% block extra_js %}<script type='text/javascript'>pageView();</script>{% endblock %}