{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load el_pagination_tags %}
{% load thumbnail %}
{% block title %}
{% if view == "all" %}
Lots
{% endif %}
{% if view == "watch" %}
Watched items
{% endif %}
{% if view == "mybids" %}
Bids
{% endif %}
{% if view == "mylots" %}
Your lots
{% endif %}
{% if view == "mywonlots" %}
Won lots
{% endif %}
{% if view == "user" %}
{% if user == request.user %}
Your lots{% else %}
{% if user %}Lots from {{ user }}{%else%}Lots{%endif%}
{% endif %}
{% endif %}
{% if auction %} for {{ auction }}{% endif %}
{% endblock %}
{% load static %}
{% block content %}
{% if routeByLastAuction and auction %}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">{{ auction }} is the last auction you joined.  <a href="/lots/">View all lots instead</a>
  <button type="button" class="btn-close bg-info" data-bs-dismiss="alert"></button>  
  </div>
{% endif %}
<h3>
        <button class="btn btn-info" type="button" data-bs-toggle="offcanvas" data-bs-target="#search-form" aria-controls="search-form">&#9776;</button>
        {% if auction %}{% include 'auction_ribbon.html' %}{%endif%}
    {% if not auction %}
    {% if view == "all" %}
      Lots
      {% endif %}
      {% if view == "watch" %}
      Watched lots
      {% endif %}
      {% if view == "mybids" %}
      Bids
      {% endif %}
      {% if view == "mylots" %}
      Your lots
      {% endif %}
      {% if view == "user" %}
      All lots from {{ user }}
      {% endif %}
      {% if view == "mywonlots" %}
      Lots you've won
      {% endif %}
      {% endif %}</h3>
    
    <div class="offcanvas offcanvas-start" tabindex="-1" id="search-form" aria-labelledby="search-form">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Search and filter</h5>
        <button type="button" class="btn-close text-reset bg-light" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div> 
        <div class="offcanvas-body">
        <!-- <div class="bs-canvas-content px-3 py-5 bg-dark"> -->
          {% if view == "user" %}
          <a href="{% url 'userpage' slug=user %}">View user info for {{ user }} </a><p>
        {% endif %}
          {% if lotsAreHidden >= 0 %}<span class="text-muted">{{lotsAreHidden}} categories are <a href="{% url 'ignore_categories' %}">ignored</a></span>{% endif %}
        <form method="GET" id='lot_filter_form' class=''>
            {{ filter.form | crispy }} {# alternative: {% crispy filter.form %} #}
            <button type="submit" class="btn btn-primary mr-1 mt-1">Apply Filter</button> {% if view == "mylots" or view == "all" %}<br>
            {% if auction %}<a href="/auctions/{{auction.slug}}/" class="mr-1 mt-1">View {{ auction }} rules</a><br>
              {% if auction.can_submit_lots %}
                {% if auction_tos %}{% if auction.is_online %}<a href='{{auction.add_lot_link}}' class="mr-1 mt-1">Add a lot</a>{% else %}
                <a href='{% url "bulk_add_lots_for_myself" slug=auction.slug %}' class="mr-1 mt-1">Add lots</a>{% endif %}
                  <small class="">You can add lots to this auction until {{ auction.lot_submission_end_date }}</small>
                {% else %}
                  {% if not request.user.is_authenticated %}
                    <a href="/login/?next=/auctions/{{auction.slug}}">Login and join this auction</a>
                  {% else %}
                  Join this auction <a href="/auctions/{{auction.slug}}/">at the bottom of this page</a> to participate
                  {%endif%}
                {%endif%}
              {% else %} 
                {# {% if not auction.started and not auction.closed %}This auction hasn't started yet.  You can add lots starting {{ auction.date_start }} {%endif%} #}
              {% endif %}
            {% endif %}
            {% endif %}
          </form>
        </div>
    </div>       
        
{% include page_template %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type='text/javascript'>pageView({% if auction %}{'auction':{{ auction.pk }} }{% endif %});</script>
    <script src="/static/js/el-pagination.js"></script>
    <script>$.endlessPaginate({
      onCompleted: function(context, fragment) {
        $('[data-toggle="tooltip"]').tooltip();
        {% if show_ads %} 
        function displayGoogleAds(){
            // $('ins').each(function(){
            //     (adsbygoogle = window.adsbygoogle || []).push({});
            // });
        }
        {% endif %}
      },
      paginateOnScroll: true,
      paginateOnScrollMargin: 2000
      });
      // {% if rewrite_url %}
      // console.log('{{rewrite_url}}');
      // $("#id_auction").val('{{rewrite_url}}'.replace("/?auction=", "")).change();
      // {% endif %}
      {% if search_button_tooltip %}
      $(document).ready(function(){
          $('#search-form-toggle').attr('data-bs-title', "{{ search_button_tooltip }}").tooltip('show');  
        });
        {% endif %}
      </script>
{% endblock %}
