{% extends "auctions/htmx_table_view.html" %}

{% block title %}Invoices{% endblock %}

{% block htmx_table_ribbon %}
  <h5>Invoices</h5>
  <small class="text-muted">This is a list of invoices for auctions you've participated in.  If you didn't buy or sell any lots in an auction, you won't get an invoice.</small>
{% endblock %}

{% block htmx_table_filter_form %}
  {{ block.super }}
  <div class="progress d-none"> <div class="indeterminate"></div> </div>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script type='text/javascript'>pageView();</script>
{% endblock %}
