{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load el_pagination_tags %}
{% load thumbnail %}
{% block title %}
{% if view == "all" %}
Lots
{% endif %}
{% if view == "watch" %}
Watched items
{% endif %}
{% if view == "mybids" %}
Bids
{% endif %}
{% if view == "mylots" %}
Your lots
{% endif %}
{% if view == "mywonlots" %}
Won lots
{% endif %}
{% if view == "user" %}
{% if user == request.user %}
Your lots{% else %}
{% if user %}Lots from {{ user }}{%else%}Lots{%endif%}
{% endif %}
{% endif %}
{% if auction %} for {{ auction }}{% endif %}
{% endblock %}
{% load static %}
{% block content %}
{% if routeByLastAuction and auction %}
<div class="alert alert-secondary alert-dismissible fade show" role="alert">{{ auction }} is the last auction you joined.  <a href="/lots/">View all lots instead</a>  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button></div>
{% endif %}
        <h3>{% if view == "all" %}
          Lots
          {% endif %}
          {% if view == "watch" %}
          Watched lots
          {% endif %}
          {% if view == "mybids" %}
          Bids
          {% endif %}
          {% if view == "mylots" %}
          Your lots
          {% endif %}
          {% if view == "user" %}
          All lots from {{ user }}
          {% endif %}
          {% if view == "mywonlots" %}
          Lots you've won
          {% endif %}{% if auction %} {% if view != "all"%} Lots{%endif%} for {{ auction }}{% endif %}</h3>
          <span class="d-sm-block d-md-none"><button onclick="$('#lot_filter_form').toggleClass('d-none d-sm-none d-sm-block');" class="btn btn-primary mr-1 mt-1">Filters</button></span> 
          <form method="GET" id='lot_filter_form' class='form-inline d-none d-sm-none d-md-flex'>
          {{ filter.form | crispy }}
          <button type="submit" class="btn btn-primary mr-1 mt-1">Apply Filter</button> {% if view == "mylots" or view == "all" %}<br>
          {% if auction %}<a href="/auctions/{{auction.slug}}/" class="btn btn-info mr-1 mt-1" role="button">View rules</a> 
            {% if auction.can_submit_lots %}
              {% if auction_tos %}<a href="{{auction.add_lot_link}}" class="btn btn-info mr-1 mt-1" role="button">Create lot</a>
                <span class="">You can add lots to this auction until {{ auction.lot_submission_end_date }}</span>
              {% else %}
                {% if not request.user.is_authenticated %}
                  <a href="/login/?next=/auctions/{{auction.slug}}">Login and confirm your pickup location for this auction</a>
                {% else %}
                  <a href="/auctions/{{auction.slug}}/"><span class='text-warning'>Confirm your pickup location</span> at the bottom of this page to add lots to this auction</a>
                {%endif%}
              {%endif%}
            {% else %} 
              {# {% if not auction.started and not auction.closed %}This auction hasn't started yet.  You can add lots starting {{ auction.date_start }} {%endif%} #}
            {% endif %}
          {% endif %}
          {% endif %}
          
        </form>
        {% if lotsAreHidden >= 0 %}<span class="text-muted">{{lotsAreHidden}} categories are <a href="{% url 'ignore_categories' %}">ignored</a></span>{% endif %}
        {% if view == "user" %}
          <a href="{% url 'userpage' slug=user %}">View user info for {{ user }} </a><p>
        {% endif %}
{% include page_template %}
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="/static/js/el-pagination.js"></script>
    <script>$.endlessPaginate({
      onCompleted: function(context, fragment) {
        $('[data-toggle="tooltip"]').tooltip();
        {% if show_ads %} 
        function displayGoogleAds(){
            // $('ins').each(function(){
            //     (adsbygoogle = window.adsbygoogle || []).push({});
            // });
        }
        {% endif %}
      },
      paginateOnScroll: true,
      paginateOnScrollMargin: 2000
      });
      // {% if rewrite_url %}
      // console.log('{{rewrite_url}}');
      // $("#id_auction").val('{{rewrite_url}}'.replace("/?auction=", "")).change();
      // {% endif %}
      </script>
{% endblock %}
