{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Auctions
{% endblock %}
{% load static %}
{% block content %}


        <h3>Auctions</h3>
        <div class='mb-3'>This is a listing of club auctions which have been created on this site.</div>
        <a href="/auctions/new/" class='btn bg-info mb-3 text-white'><i class="bi bi-plus-circle"></i> Create a new auction</a><br>
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col">Auction</th>
              <th scope="col">Date</th>
              <th scope="col">Lots</th>
            </tr>
          </thead>
          <tbody>
            {% for auction in object_list %}
            <tr>
              <td><a href='/auctions/{{auction.slug}}'>{{ auction.title }}</a> {% if auction.is_online %}<span class="badge bg-info">Online</span>{% endif %}
                {% if not auction.promote_this_auction %}<span class='badge bg-dark'>Not promoted</span>{% endif %}
                {% if not location_message and auction.number_of_locations %}<span class='badge bg-primary'>{{ auction.distance | floatformat:0 }} miles from you</span>{% endif %}
              </td>
              <td>{% if auction.closed %}
                  {{ auction.date_end }} <span class="badge bg-danger">Ended</span>
                  {% else %}
                  {% if auction.started and auction.date_end %}
                    Ends: {{ auction.date_end }}
                  {% else %}
                    {% if not auction.started %}
                    Starts: {{ auction.date_start }}
                    {% else %}
                    {% if not auction.is_online %}
                    {{ auction.date_start }} {% if not auction.allow_bidding_on_lots%}<span class="badge bg-danger">Ended</span>{% endif %}
                    {% else %}
                    {{ auction.date_start }}
                    {% endif %}
                    {% endif %}
                    {% endif %}
                {% endif %}
              <td>
                {% if auction.show_lot_link_on_auction_list %}
                <a href='{{ auction.view_lot_link }}'>View lots</a>{% else %}Lots open: {{auction.lot_submission_start_date}} {% endif %}</td>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
<small class="text-muted">Note: Auctions you haven't joined won't appear in this list if they:
  <ul>
    <li>aren't related to the fish hobby</li>
    <li>are set to "do not promote"</li>
    <li>are starting more than 90 days from today</li>
    <li>were created more than 2 years ago</li>
  </ul>
  Auctions you've joined will always show up here.</small></span>
{% endblock %}
{% block extra_js %}<script type='text/javascript'>pageView();</script>{% endblock %}