{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Auctions
{% endblock %}
{% load static %}
{% block content %}

<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-10 offset-lg-1">
        <h1>Auctions</h1>
        <span class='text-muted'>Auctions which are set to "do not promote" are not listed on this page, unless you have confirmed you pickup location for them.</span><br><br>
      

        <a href="/auctions/new/" class='btn btn-info'>Create a new auction</a><br>
        
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Auction</th>
              <th scope="col">Lots</th>
              <th scope="col">Rules</th>
              <th scope="col">Ends</th>
            </tr>
          </thead>
          <tbody>
            
            {% for auction in object_list %}
            <tr>
              <td>{{ auction.title }}
                {% if request.user.is_superuser or auction.created_by == request.user %}&nbsp;<a href='/auctions/{{auction.slug}}/invoices/'>Invoices</a>{% endif %} {% if not auction.promote_this_auction %}<span class='text-muted'>(Not promoted)</span>{% endif %}
              </td>
              <td>{% if auction.started %}<a href='/lots/?a={{auction.slug}}'>View lots</a>{% else %}Starts: 
                {{auction.date_start}} {% endif %}</td>
              <td><a href='/auctions/{{auction.slug}}'>{% if auction.created_by == request.user %}View or edit auction{%else%}Payment and pickup info{%endif%}</a></td>
              <td>{% if auction.closed %}<span style="color:red">{{ auction.date_end }}</span>{% else %}{{ auction.date_end }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
</div>  

{% endblock %}


