{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Print labels for {{ auction }}{% endblock %}
{% load static %}
{% block content %}
  {% include 'auction_ribbon.html' %}
  <p><small>This page will allow you to print labels for your auction.
    <br>Some tips:<br>
    <ul>
      <li>It's often easier to print all labels for a single user on the <a href="/auctions/{{auction.slug}}/users">users</a> tab.</li>
      <li>Encourage users to pre-register lots and print their own labels.  This saves you paper and a lot of time at the registration desk.</li>
      <li>Reprint damaged labels by viewing the lot's page.</li>
      <li>Change your <a href="{% url 'printing' %}?next={{ request.path }}">printing preferences</a> to match the type of labels you're printing.</li>
    </ul>
    </small></p>
    <p>You've printed {{ printed_labels_count }} out of {{ all_labels_count }} labels in your auction.</p>

    <br>
    {% crispy form %}
{% endblock %}
{% block extra_js %}
{# script following reloads the page on form submit so the numbers are accurate #}
<script>
$(document).ready(function() {
  $('#submit-id-submit').on('click', function(event) {
      setTimeout(function() {
          location.reload();
      }, 5000);
  });
});
</script>
{% endblock %}