{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ auction.title }} {% endblock %}
{% load static %}
{% block extra_js %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="e1MMTYSx"></script>
<script>
function copyLink() {
  var copyText = document.getElementById("copyShareLink");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");
  document.getElementById("copyShareLink").className += " is-valid";
} 
</script>
{% if not hasChosenLocation and not ended %}
<script>
  function elementInViewport(el) {
    var top = el.offsetTop;
    var left = el.offsetLeft;
    var width = el.offsetWidth;
    var height = el.offsetHeight;

    while(el.offsetParent) {
        el = el.offsetParent;
        top += el.offsetTop;
        left += el.offsetLeft;
  }

  return (
    top >= window.pageYOffset &&
    left >= window.pageXOffset &&
    (top + height) <= (window.pageYOffset + window.innerHeight) &&
    (left + width) <= (window.pageXOffset + window.innerWidth)
  );
}
  var joinButton = document.querySelector('#submit-id-submit');
  var message;
  var messageCheck;
  document.onscroll = function(event) {
    clearTimeout(messageCheck);
    messageCheck = setTimeout(function(){ 
        if (joinButton) {
            if (elementInViewport(joinButton)) {
                $('#join-message').tooltip('hide');
                clearTimeout(message);
                $('#submit-id-submit').attr('data-original-title', "Join this auction and you'll be able to bid").tooltip('show');
                message = setTimeout(function(){ $('#submit-id-submit').tooltip('hide'); }, 3000);
            } else {
                clearTimeout(message);
                $('#join-message').tooltip('show'); 
                message = setTimeout(function(){ $('#join-message').tooltip('hide'); }, 3000);
            }
        }
    }, 100);

}

</script>
{% endif %}

{% if not auction.no_location %}
<script
src="https://maps.googleapis.com/maps/api/js?key={{google_maps_api_key}}&callback=initMap&libraries=&v=weekly"
async
></script>
<script>

function initMap() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {};
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    var markers = [
        {% for location in pickup_locations %}
        ['{{ location.name }}', {{ location.latitude }},{{ location.longitude }}],
        {% endfor %}
    ];
    var infoWindowContent = [
        {% for location in pickup_locations %}
        ['<div class="info_content" style="color:black;">' +
        '<h5>{{ location.name }}</h5>' +
        '<p><a href="{{location.directions_link}}">Get directions</a>'+
        '<p>{{ location.description|linebreaksbr }}<br>' +
        '{% if location.users_must_coordinate_pickup %}You must schedule your pickup time in advance.{% else %}{{ location.pickup_time }} {% if location.second_pickup_time %}<br>You must return at {{ location.second_pickup_time }} to pick up lots from other locations.{% endif %}{%endif%}</p>' +        '</div>'],
        {% endfor %}
    ];
       
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));
        map.fitBounds(bounds);
    }
    {% if not auction.multi_location %}
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(9);
        google.maps.event.removeListener(boundsListener);
    });
    {%endif%}

    
}
</script>
{%endif%}
{% endblock %}
{% block content %}
<div id="fb-root"></div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md1">
            <h1>{{ auction.title }}</h1>
            An auction created by {{ auction.created_by }}<br>
            {% if request.user.is_authenticated %} <br>Questions?  Email <a href='mailto:{{ contact_email }}'>{{ contact_email }}</a>{% endif %}<br>
            {% if auction.notes_rendered %}{{ auction.notes_rendered|safe }} {% else %} {% if auction.notes %} {{ auction.notes|safe }}{% endif %}{% endif %}
            <h5>The following rules will be automatically enforced by this site:</h5>
            <ul>
                <li>Bidding will be open from {{ auction.date_start }} to {{ auction.date_end}}</li>
                {% if not auction.sealed_bid %}<li>If last minute bids are placed on a lot, the <a href="/faq#how-exactly-do-dynamic-endings-work">end time for that lot will be extended</a>.  All lots will end by {{ auction.dynamic_end }}</li>{% endif %}
                {% if auction.lot_submission_start_date != auction.date_start %}<li>You can submit lots starting {{ auction.lot_submission_start_date }}</li>{% endif %}
                {% if auction.lot_submission_end_date != auction.date_end %}<li>You can submit lots until {{ auction.lot_submission_end_date }}</li>{% endif %}
                {% if auction.sealed_bid %}<li>This is a sealed bid auction - you won't be able to see how much others have bid on an item.</li>{% endif %}
                {% if auction.max_lots_per_user %}<li>You can submit up to {{ auction.max_lots_per_user }} lots.{% if auction.allow_additional_lots_as_donation %} Additional lots accepted only as a donation.{% endif %}</li>{% endif %}
                {% if auction.winning_bid_percent_to_club and auction.lot_entry_fee %} <li>You will be charged ${{ auction.lot_entry_fee }} plus {{ auction.winning_bid_percent_to_club }}%  of the winning price per lot you sell</li>
                {% else %} {% if auction.winning_bid_percent_to_club %} <li>You will be charged {{ auction.winning_bid_percent_to_club }}% of the winning price per lot you sell</li> {% endif %} 
                {% if auction.lot_entry_fee %} <li>You will be charged a flat rate of ${{ auction.lot_entry_fee }} per item you sell</li> {% endif %}
                {% endif %}
                {% if auction.unsold_lot_fee %}<li>If your lot does not sell, you will be charged ${{ auction.unsold_lot_fee }}</li>{% endif %}
            </ul> 
            {% if not auction.no_location %}<br>
                {% if auction.multi_location %}<h3>Pickup locations</h3>{%endif%}
                {% for location in pickup_locations %}
                <br>
                <h5>{% if not auction.multi_location %}Location: {%endif%}{{ location.name }}</h5>
                {% if auction.created_by.pk == request.user.id or request.user.is_superuser %}
                <a href="/locations/edit/{{ location.pk }}/?next=/auctions/{{auction.slug}}" class="btn btn-warning">Edit this location</a>
                <br>
                {% endif %}
                <a href="{{location.directions_link}}">Get directions</a><br>
                {{ location.description }} {% if location.users_must_coordinate_pickup %}You must schedule your pickup time in advance.{% else %}at {{ location.pickup_time }} {% if location.second_pickup_time %}<br>You must return at {{ location.second_pickup_time }} to pick up lots from other locations.{% endif %}{%endif%}<br><br>
                {% if location.pickup_location_contact_name and request.user.is_authenticated %}
                Contact for this location: <b>{{location.pickup_location_contact_name}}</b><br>
                {% if location.pickup_location_contact_phone %}{{location.pickup_location_contact_phone}}<br>{%endif%}
                {% if location.pickup_location_contact_email %}<a href='mailto:{{ location.pickup_location_contact_email }}'>{{location.pickup_location_contact_email}}</a><br>{%endif%}
                <br>
                {% endif %}
                {% endfor %}
                <div id="map_wrapper" style='height: 400px;'>
                    <div id="map_canvas" class="mapping" style='width: 100%; height: 100%;'></div>
                </div>
            {% endif %}

            <br><span class='text-muted'><small>Please spread the word about this auction -- every like and share helps the club bring in new sellers and bidders!</small></span>
            <div class="share-links" style='line-height: 11px;'>
            
                <div class="input-group mb-3 mr-3 has-success" style="float:left !important;">
                    <input class="form-control form-control-sm" id='copyShareLink' style='max-width: 35%' type="text" value="https://{{ domain }}/?{{ auction.slug }}" readonly="">
                    <div class="input-group-append">
                        <button class='btn-sm btn-primary' onclick="copyLink()">Copy</button>
                    </div>
                    <span class='input-group-append ml-1 mr-1'>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out the {{ auction.title }}" data-url="https://{{ domain }}/?{{ auction.slug }}" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </span>
                    <span class='input-group-append mr-1'>
                        <div class="fb-share-button" data-href="https://{{ domain }}/?{{ auction.slug }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ domain|urlencode }}/?{{ auction.slug|urlencode }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                    </span>
            
                    <div class="valid-feedback">Copied.  Thanks for spreading the word!</div>
                </div>

                

            </div>
            <a name="join"></a>
            {% if not ended %}
                <br><br>
                {% if not auction.no_location %}
                    {% if request.user.is_authenticated %}
                        If you want to participate in this auction, you must confirm your pickup location
                        {% crispy form form.helper %}
                    {% else %}
                        <a href="/login/?next={% firstof request.path '/' %}">Please login to confirm your pickup location</a><br><br>
                    {% endif %}
                {% else %}
                    The creator of this auction has not yet added a pickup location.  Check back soon!
                {% endif %}
            {% endif %}
            <a href='/lots/?auction={{auction.slug}}' class="btn btn-primary active">View all lots for this auction</a>
            <br><br>
            {% if auction.created_by.pk == request.user.id or request.user.is_superuser %}
                <a href="/auctions/new/?copy={{auction.slug}}" class="btn btn-info mr-1 mt-1">Copy to new auction</a>
                {% if not auction.invoiced %}<a href="/auctions/{{auction.slug}}/edit/" class="btn btn-warning mr-1 mt-1">Edit this auction</a>
                <a href="/locations/new/?next=/auctions/{{auction.slug}}" class="btn btn-primary mr-1 mt-1">Add pickup location</a>{% endif %}
                <a href="/locations/" class="btn btn-primary mr-1 mt-1">All pickup locations</a>
                <a href="/auctions/{{auction.slug}}/stats/" class="btn btn-primary mr-1 mt-1">Stats</a>
                <a href="/auctions/{{auction.slug}}/invoices/" class="btn btn-primary mr-1 mt-1">Invoices</a>
                <a href="/auctions/{{auction.slug}}/report/" class="btn btn-primary mr-1 mt-1">Download CSV Report</a>
                {% if ended %}
                <a href="/auctions/{{auction.slug}}/lotlist/" class="btn btn-primary mr-1 mt-1">Download Lot List CSV</a>
                {% endif %}
                {% if auction.can_be_deleted %}
                    <a href="/auctions/{{auction.slug}}/delete/" class="btn btn-danger mr-1 mt-1">Delete</a>
                {% endif %}
            {% endif %}
            {% if request.user.is_superuser %}
                <a href="/admin/auctions/auction/{{auction.pk}}/change/" class="btn btn-danger mr-1 mt-1">Admin</a>
            {% endif %}
            <div id="join-message" style="position:fixed; bottom:0; right:30%; visibility: hidden; opacity: 0;" data-toggle="tooltip" data-placement="top" title="Keep scrolling to join this auction"></div>
        </div>
    </div>
</div>

{% endblock %}


