{# this is the tabs that are shown on many auction pages #}
<h3>{{auction}}</h3>
<small><span class='text-muted'>An {{auction.auction_type_as_str}}, created by {{ auction.created_by }}{% if request.user.is_authenticated and auction.created_by.userdata.email_visible %}: {{ auction.created_by.email|urlize }}{% endif %}</span></small>
{% if view.is_auction_admin or is_auction_admin %}
{% if not auction.admin_checklist_completed %}
    {% if not auction.admin_checklist_mostly_completed or not request.user.userdata.is_experienced %}
<div class='jumbotron'><h5>Finish setting up</h5>
  <ul class="list-unstyled">
    <li>✅ Create your auction</li>
    <li>{% if auction.admin_checklist_location_set %}✅{% else %}⭕{%endif%} {% if auction.set_location_link %}<a href='{{auction.set_location_link}}'>Set the location</a>{% else %}<a href='/auctions/{{auction.slug}}/locations'>Set the location</a>{% endif %}</li>
    <li>{% if auction.admin_checklist_rules_updated %}✅{% else %}⭕{%endif%} <a href="/auctions/{{auction.slug}}/edit">Edit the rules</a></li>
    <li>{% if auction.admin_checklist_joined %}✅{% else %}⭕{%endif%} Join this auction at the bottom <a href="/auctions/{{auction.slug}}/">of this page</a></li>
    <li>{% if auction.admin_checklist_others_joined %}✅{% else %}⭕{%endif%} Convince other people to join{% if not auction.is_online %}, or <a href="/auctions/{{auction.slug}}/users">manually add them here</a>{% endif %}</li>
    <li>{% if auction.admin_checklist_lots_added %}✅{% else %}⭕{%endif%} <a href="/lots/new/">Add lots</a>{% if not auction.is_online %} for yourself, or <a href="/auctions/{{auction.slug}}/users">for other users</a>{% endif %}</li>
    {% if not auction.is_online %}
    <li>{% if auction.admin_checklist_winner_set %}✅{% else %}⭕{%endif%} <a href="{{ auction.set_lot_winners_link }}">Mark lots as sold</a></li>
    <li>{% if auction.admin_checklist_additional_admin %}✅{% else %}⭕{%endif%} Click a name to edit that user and <a href="/auctions/{{auction.slug}}/users">add an additional admin</a> to help you set lot winners</li>
    {% endif %}
  </ul>
  <small class="'text-muted">This message will disappear once you've finished setting up your auction.</small>
</div>
    {% endif %}
{% endif %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'main'%}active{% endif %}" href="/auctions/{{auction.slug}}/"><i class="bi bi-house-fill"></i> Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'users'%}active{% endif %}" href="/auctions/{{auction.slug}}/users"><i class="bi bi-people-fill"></i> Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'lots'%}active{% endif %}" href="/auctions/{{auction.slug}}/lots"><i class="bi bi-calendar"></i> Lots</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">More</a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/auctions/{{auction.slug}}/edit"><i class="bi bi-gear-fill"></i> Rules</a>
          <a class="dropdown-item" href="{{ auction.location_link }}"><i class="bi bi-geo-alt-fill"></i> Location{% if auction.location_qs|length > 1 %}s{% endif %}</a>
          <a class="dropdown-item" href="{{ auction.set_lot_winners_link }}"><i class="bi bi-calendar-check"></i> Set lot winners</a>
          <a class="dropdown-item" href="/auctions/{{auction.slug}}/chat/"><i class="bi bi-chat-fill"></i> Chat messages</a>
          <a class="dropdown-item" href="/auctions/new?copy={{auction.slug}}"><i class="bi bi-plus-circle"></i> Copy to new auction</a>
          <a class="dropdown-item" href="/auctions/{{auction.slug}}/stats/"><i class="bi bi-graph-up"></i> Stats</a>
          {% if not auction.is_online %}<a class="dropdown-item" href='{% url "auction_printing" slug=auction.slug %}'><i class="bi bi-tags"></i> Print labels</a>{% endif %}
          <a class="dropdown-item" href="/auctions/{{auction.slug}}/delete/"><i class="bi bi-x-circle"></i> Delete auction</a>
        </ul>
    </li>
</ul>

{% endif %}