{# this is the tabs that are shown on many auction pages #}
<h3>{{auction}}</h3>
<small><span class='text-muted'>An {{auction.auction_type_as_str}}, created by {{ auction.created_by }}{% if request.user.is_authenticated and auction.created_by.userdata.email_visible %}: {{ auction.created_by.email|urlize }}{% endif %}</span></small>
{% if view.is_auction_admin or is_auction_admin %}
{% if request.user.is_superuser and not auction.created_by.userdata.is_trusted %}
      <br><a href='{% url "auction_main" slug=auction.slug %}?trust_user=true' class="btn btn-warning btn-sm mt-2">Trust this user</a>
{% endif %}
{% if not auction.admin_checklist_completed and not auction.admin_checklist_mostly_completed or not auction.admin_checklist_completed and not request.user.userdata.is_experienced %}
<div class='mt-4 mb-4 p-2 bg-primary text-white rounded bg-gradient bg-opacity-50'><h5>Finish setting up</h5>
  <ul class="list-unstyled">
    <li><i class="bi bi-check-square-fill text-success"></i> Create your auction</li>
    <li>{% if auction.admin_checklist_rules_updated %}<i class="bi bi-check-square-fill text-success"></i>{% else %}<i class="bi bi-exclamation-square-fill text-danger"></i>{%endif%} <a href="/auctions/{{auction.slug}}/edit">Edit the rules</a></li>
    <li>{% if auction.admin_checklist_location_set %}<i class="bi bi-check-square-fill text-success"></i>{% else %}<i class="bi bi-exclamation-square-fill text-danger"></i>{%endif%} {% if auction.set_location_link %}<a href='{{auction.set_location_link}}'>Set the location</a>{% else %}<a href='/auctions/{{auction.slug}}/locations'>Set the location</a>{% endif %}</li>
    <li>{% if auction.admin_checklist_joined %}<i class="bi bi-check-square-fill text-success"></i>{% else %}<i class="bi bi-exclamation-square-fill text-danger"></i>{%endif%} Join this auction at the bottom <a href="/auctions/{{auction.slug}}/">of this page</a></li>
    <li>{% if auction.admin_checklist_others_joined %}<i class="bi bi-check-square-fill text-success"></i>{% else %}<i class="bi bi-exclamation-square-fill text-danger"></i>{%endif%} Convince other people to join{% if not auction.is_online %}, or <a href="/auctions/{{auction.slug}}/users">manually add them here</a>{% endif %}</li>
    <li>{% if auction.admin_checklist_lots_added %}<i class="bi bi-check-square-fill text-success"></i>{% else %}<i class="bi bi-exclamation-square-fill text-danger"></i>{%endif%} <a href="/lots/new/">Add lots</a>{% if not auction.is_online %} for yourself, or <a href="/auctions/{{auction.slug}}/users">for other users</a>{% endif %}</li>
    {% if not auction.is_online %}
    <li>{% if auction.admin_checklist_winner_set %}<i class="bi bi-check-square-fill text-success"></i>{% else %}<i class="bi bi-exclamation-square-fill text-danger"></i>{%endif%} <a href="{{ auction.set_lot_winners_link }}">Mark lots as sold</a></li>
    <li>{% if auction.admin_checklist_additional_admin %}<i class="bi bi-check-square-fill text-success"></i>{% else %}<i class="bi bi-exclamation-square-fill text-danger"></i>{%endif%} Click a name to edit that user and <a href="/auctions/{{auction.slug}}/users">add an additional admin</a> to help you set lot winners</li>
    {% endif %}
  </ul>
  {% if enable_help %}<div>Having trouble?  <a href='{% url "auction_help" slug=auction.slug %}'>Click here to get help</a></div>{% endif %}
  <small class="text-muted">This message will disappear once you've finished setting up your auction.</small>
</div>
{% else %}
  {% if not auction.promote_this_auction and not auction.dismissed_promo_banner %}
  <div class='mt-4 mb-4 p-2 bg-primary text-white rounded bg-gradient bg-opacity-50'><h5>This auction is not promoted</h5>
    {% if not auction.created_by.userdata.is_trusted %}
    <small>{{ auction.untrusted_message|safe }}</small>
    {% else %}
    <small>It will appear in <a href="{% url 'auctions' %}">the list of auctions</a> for you, for any users you manually add (based on email address), and for any users that have joined, but it won't be visible to anyone else unless you share the URL with them.  Promoted auctions are also included in a weekly promotional email sent every Wednesday to nearby users.</small>
    {% endif %}
    <div>
      {% if auction.created_by.userdata.is_trusted %}
      <a href='/auctions/{{auction.slug}}/edit' class="btn btn-info btn-sm mt-2">Edit the rules and check promote this auction</a>
      {% else %}
        <a href="mailto:{{ auction.promotion_request_mailto_query }}"
          class="btn btn-info btn-sm mt-2">
          Contact us and request access
        </a>
      {% endif %}
      <a href='{% url "auction_main" slug=auction.slug %}?dismissed_promo_banner=true' class="btn btn-outline-light btn-sm mt-2">Don't show again for this auction</a>
    </div>
  </div>
  {% endif %}
  {% if request.user.pk == auction.created_by.pk and auction.show_paypal_banner and auction.pk == request.user.userdata.last_auction_created.pk %}
  <div class='mt-4 mb-4 p-2 bg-primary text-white rounded bg-gradient bg-opacity-50'><h5>Enable payments with your PayPal account</h5>
    <small>
      <ul>
        <li>Users will see a button to pay on their invoices</li>
        <li>Invoices will automatically be marked paid as users pay</li>
        <li>Funds will go directly to your PayPal account</li>
      </ul>
      It's "free": we don't charge anything, but normal PayPal fees apply.  <a href='{% url "paypal_seller" %}'>Learn more about accepting payments with PayPal</a>.<br>
    </small>
    <div>
      <a href="{% url 'paypal_connect' %}" class="btn btn-info btn-sm mt-2">Connect PayPal account and enable payments</a>
      <a href='{% url "auction_main" slug=auction.slug %}?dismissed_paypal_banner=true' class="btn btn-outline-light btn-sm mt-2">Not this auction</a>
      <a href='{% url "auction_main" slug=auction.slug %}?never_show_paypal_connect=true' class="btn btn-outline-light btn-sm mt-2">Never show this again</a>
    </div>
  </div>
  {% endif %}
{% endif %}
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'main'%}active{% endif %}" href='{% url "auction_main" slug=auction.slug %}'><i class="bi bi-house-fill"></i><span class='d-none d-md-inline'> Main</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'users'%}active{% endif %}" href='{% url "auction_tos_list" slug=auction.slug %}'><i class="bi bi-people-fill"></i><span class='d-none d-md-inline'> Users</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'lots'%}active{% endif %}" href="/auctions/{{auction.slug}}/lots"><i class="bi bi-calendar"></i><span class='d-none d-md-inline'> Lots</span></a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class='d-none d-md-inline'>More</span></span></a>
        <ul class="dropdown-menu">
          <a class="dropdown-item" href="/auctions/{{auction.slug}}/edit"><i class="bi bi-gear-fill"></i> Rules</a>
          <a class="dropdown-item" href="{{ auction.location_link }}"><i class="bi bi-geo-alt-fill"></i> Location{% if auction.location_qs|length > 1 %}s{% endif %}</a>
          {% if not auction.is_online %}<a class="dropdown-item" href="{{ auction.set_lot_winners_link }}"><i class="bi bi-calendar-check"></i> Set lot winners</a>{% endif %}
          <a class="dropdown-item" href="/auctions/{{auction.slug}}/chat/"><i class="bi bi-chat-fill"></i> Chat messages</a>
          {% if enable_help %}<a class="dropdown-item" href='{% url "auction_help" slug=auction.slug %}'><i class="bi bi-question-circle-fill"></i> Help and Support</a>{% endif %}
          {% if not auction.is_online %}<a class="dropdown-item" href='{% url "auction_quick_checkout" slug=auction.slug %}'><i class="bi bi-bag-heart"></i> Quick checkout users</a>{% endif %}
          <a class="dropdown-item" href="/auctions/new?copy={{auction.slug}}"><i class="bi bi-plus-circle"></i> Copy to new auction</a>
          <a class="dropdown-item" href="/auctions/{{auction.slug}}/stats/"><i class="bi bi-graph-up"></i> Stats</a>
          {% if not auction.is_online %}<a class="dropdown-item" href='{% url "auction_printing" slug=auction.slug %}'><i class="bi bi-tags"></i> Print labels</a>{% endif %}
          <a class="dropdown-item" href="{% url 'auction_history' slug=auction.slug %}"><i class="bi bi-clock-history"></i> Admin history</a>
          <a class="dropdown-item" href="/auctions/{{auction.slug}}/delete/"><i class="bi bi-x-circle"></i> Delete auction</a>

        </ul>
    </li>
</ul>

{% endif %}
