{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Stats for {{ auction.title }} {% endblock %}
{% load static %}
{% block content %}
{% block extra_js %}
<script type='text/javascript'>pageView();</script>
<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>-->
<script src="/static/js/chart.funnel.min.js"></script>
<script>
  window.onload = function() {
    Chart.defaults.global.defaultFontColor = "#fff";
    $.ajax({
      url: '{% url "auction_funnel_chart" slug=auction.slug %}',
      success: function (data) {
          var ctx = document.getElementById('funnel_chart').getContext('2d');
          var funnelChart = {
              type: 'funnel',
              data: {
                  datasets: [{
                      data: data.data,
                      backgroundColor: [
                        'rgba(86, 53, 176, 0.4)',
                        'rgba(217, 211, 41, 0.4)',
                        'rgba(62, 184, 64, 0.4)',
                        'rgba(166, 33, 27, 0.4)',
                      ],
                      hoverBackgroundColor: [
                        'rgba(86, 53, 176, 0.8)',
                        'rgba(217, 211, 41, 0.8)',
                        'rgba(62, 184, 64, 0.8)',
                        'rgba(166, 33, 27, 0.8)',
                      ]
                  }],
                  labels: data.labels,
              },
                  options: {
                      responsive: true,
                      sort: 'desc',
                      topWidth: 0,
                      legend: {
                          position: 'bottom'
                      },
                      title: {
                          display: false,
                          text: 'Chart.js Funnel Chart'
                      },
                      animation: {
                          animateScale: true,
                          animateRotate: true
                      }
                  }
          }
          new Chart(ctx, funnelChart);
      }
    });
    {% if auction.is_online %}
    $.ajax({
      url: '{% url "auction_lot_bidders" slug=auction.slug %}',
      success: function (data) {
          var ctx = document.getElementById('lot_pie').getContext('2d');
          var pie = {
            type: 'pie',
            data: {
              datasets: [{
                data: data.data,
                backgroundColor: [
                  'rgba(86, 53, 176, 0.4)',
                  'rgba(53, 170, 176, 0.4)',
                  'rgba(53, 176, 106, 0.4)',
                  'rgba(73, 199, 48, 0.4)',
                  'rgba(186, 199, 48, 0.4)',
                  'rgba(219, 135, 44, 0.4)',
                  'rgba(235, 33, 33, 0.4)',
                ],
                hoverBackgroundColor: [
                  'rgba(86, 53, 176, 0.8)',
                  'rgba(53, 170, 176, 0.8)',
                  'rgba(53, 176, 106, 0.8)',
                  'rgba(73, 199, 48, 0.8)',
                  'rgba(186, 199, 48, 0.8)',
                  'rgba(219, 135, 44, 0.8)',
                  'rgba(235, 33, 33, 0.8)',
                ],
                label: 'Dataset 1'
              }],
              labels: data.labels
            },
            options: {
              responsive: true,
              legend: {
                    display: false
                },
            }
          };
          new Chart(ctx, pie);
      }
    });
    {% endif %}
    {% if auction.is_online %}
    $.ajax({
      url: '{% url "auction_lot_categories" slug=auction.slug %}',
      success: function (data) {
          var ctx = document.getElementById('categories').getContext('2d');
          var categories = {
            type: 'bar',
            data: {
                labels: data.labels,
                datasets: [{
                  label: 'Percent of all lots',
                  backgroundColor: 'rgba(52, 152, 219, 0.4)',
                  hoverBackgroundColor: 'rgba(52, 152, 219, 0.8)',
                  data: data.lots
                },
                {
                  label: 'Percent of all views',
                  backgroundColor: 'rgba(217, 211, 41, 0.4)',
                  hoverBackgroundColor: 'rgba(217, 211, 41, 0.8)',
                  data: data.views
                },
                {
                  label: 'Percent of all bids',
                  backgroundColor: 'rgba(62, 184, 64, 0.4)',
                  hoverBackgroundColor: 'rgba(62, 184, 64, 0.8)',
                  data: data.bids
                },
                {
                  label: 'Percent of total volume',
                  backgroundColor: 'rgba(166, 33, 27, 0.4)',
                  hoverBackgroundColor: 'rgba(166, 33, 27, 0.8)',
                  data: data.volumes
                }
              ]
            },
            options: {
                legend: {
                    display: true
                },
                title: {
                    display: false,
                    text: 'Category popularity'
                }
            }
          }
          new Chart(ctx, categories);
     }
    });
    {% endif %}
};
</script>

{% endblock %}
            {% include 'auction_ribbon.html' %}
            <br><h3>Users</h3>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td>Total users</td><td>{{auction.number_of_tos}}</td>
                  </tr>
                  <tr>
                    <td>Users who bought or sold at least one item</td><td>{{auction.number_of_participants}}</td>
                  </tr>
                  <tr>
                    <td>Buyers</td><td>{{auction.number_of_buyers}}</td>
                  </tr>
                  <tr>
                    <td>Sellers</td><td>{{auction.number_of_sellers}}</td>
                  </tr>
                  <tr>
                    <td>Sellers who did not buy anything</td><td>{{auction.number_of_sellers_who_didnt_buy}}</td>
                  </tr>
                  <tr>
                    <td>Users who preregistered through this site</td><td>{{auction.preregistered_users}}</td>
                  </tr>
              </tbody>
            </table>
<h4>Activity</h4>
<p></p>
<canvas id="activity" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_activity" slug=auction.slug %}', function(data) {
    var ctx = $("#activity").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'line', data: data
    });
  });
</script>
This graph shows overall engagement of people with your auction.  You can gauge the effectiveness of advertising by tracking views and bids here.
<p></p>

            {% if auction.is_online %}
            <h4>User engagement</h4>
            Number of users who viewed lots, logged in, bid, and won lots in this auction.
            <canvas id="funnel_chart"></canvas>
            <span><br>In order for the auction to succeed, users must<ol><li>Visit the site</li><li>See a lot they like</li><li>Sign up for an account</li><li>Place a bid</li><li>Up their bid if they are outbid</li></ol>
              This graph represents "friction" in this process.  At each step, some number of people will give up.  Ideally, every user who viewed a lot would win at least a lot or two, meaning there would be very little change as you move down the graph.<br><br>Remember that this graph only indicates people who visited the auction site, we can't know how many people are (for example) aware of your club but don't know about the auction, or have heard about the auction but didn't have a link for the site.</span>
            <br>
            {% endif %}
<br><h3>Lots</h3>
<table class="table">
    <thead>
    </thead>
    <tbody>
        <tr>
            <td>Total lots</td><td>{{auction.total_lots}}</td>
        </tr>
        <tr>
            <td>Unsold lots</td><td>{{auction.total_unsold_lots}} ({{auction.percent_unsold_lots|floatformat:0}}%)</td>
          </tr>

        <tr>
        <td>Sold lots</td><td>{{auction.total_sold_lots}}</td>
      </tr>
      <tr>
        <td>Median lot price</td><td>${{auction.median_lot_price|floatformat:2}}</td>
      </tr>
      <tr>
        <td>Gross (value of all lots sold)</td><td>${{auction.gross|floatformat:2}}</td>
      </tr>
      <tr>
        <td>Total donations</td><td>${{auction.total_donations|floatformat:2}}</td>
      </tr>
      <tr>
        <td>Club profit (unrounded)</td><td>${{auction.club_profit_raw|floatformat:2}}</td>
      </tr>
      <tr>
        <td>Club profit <small>(includes adjustments, and invoices are rounded to the nearest dollar)</small></td><td>${{auction.club_profit|floatformat:2}} ({{ auction.percent_to_club|floatformat:2 }}% of gross)</td>
      </tr>
      <tr>
        <td>Seller payout</td><td>${{ auction.total_to_sellers|floatformat:2 }}</td>
      </tr>
  </tbody>
</table>

            <br><br>
            <h4>Lot sell prices</h4>
            <canvas id="lot_prices" width="500" height="400"></canvas>
            <script type="text/javascript">
              $.get('{% url "auction_sell_prices" slug=auction.slug %}', function(data) {
                var ctx = $("#lot_prices").get(0).getContext("2d");
                new Chart(ctx, {
                  type: 'bar', data: data,
                  options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true, // start the Y-axis scale at zero
                            }
                        }]
                    }
                  },
                });
              });
            </script>
            <br>
            How many lots sold at different price points.  Buyer's auctions have a distribution towards the left, seller's auctions towards the right.<br><br>
              <br><br>
            {% if auction.is_online %}
            <h4>Competition for lots</h4>
            How many bidders were there per lot?
            <canvas id="lot_pie"></canvas>
            <br>Ideally, each lot would have at least 2-3 bidders -- having at least two people who "must have" a lot means that lot will sell for what it's worth.<br><br>Lots of lots with few bidders means you need to attract more buyers next time.<br>Lots of lots with lots of bidders means your auction can support more sellers.
            <br><br>
            <h4>Category popularity</h4>
            Relative popularity of categories by views and by number of lots.  Click a label to change the chart.<br>
            <canvas id="categories"></canvas>
            <br>
            This chart is a good way to look at the popularity of different categories in your auction.<br><br>
            If there is equal supply, interest, and demand in a category, views/bids/number of lots should be the same height (and determined by the number of lots).  When they are different, you can get some interesting info from this graph.
            For example, categories with more bids are likely to be in higher demand, especially if views are lower.  Categories with lots of views but no bids may be something people are curious about, but don't actually want.  To wit: <i>What's this tequila fish?  Oh, it's a gray livebearer, never mind.</i>
            {% endif %}
{% if not auction.is_online %}
<p></p>
<h4>Attrition</h4>

<canvas id="attrition" width="500" height="400"></canvas>
<script type="text/javascript">
      $.get('{% url "auction_stats_attrition" slug=auction.slug %}', function(data) {
          var ctx = $("#attrition").get(0).getContext("2d");
          new Chart(ctx, {
            type: 'scatter', data: data
          });
        });
        </script>
<div>This graph shows lot sell price, graphed against the minutes into the auction.  Generally, prices tend to decrease the longer an auction runs.  (And if you can't see a decrease on this graph, awesome!)  Attrition is often the largest issue in big auctions.  You can counteract it with:
  <ul>
    <li>Change out your auctioneer if they start to slow down</li>
    <li>Enable or require a Buy Now price on lots to skip bidding altogether</li>
    <li>Put some items up for a silent auction, which will allow people to bid on these items while the main auction is running (you can still use this site for invoicing, just record the silent auction winners once the silent auction ends)</li>
    <li>Hold more door prize drawings and raffles later in the auction to encourage people to stay</li>
  </ul>
</div>

<h5>Auctioneer performance</h5>
<canvas id="auctioneer" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_auctioneer" slug=auction.slug %}', function(data) {
    var ctx = $("#auctioneer").get(0).getContext("2d");
        new Chart(ctx, {
          type: 'scatter', data: data
        });
      });
    </script>
<div>This graph shows the time since the last lot sold, graphed against the minutes into the auction.  Faster auctioneers will tend to be lower down on the Y axis.  If more than 3 minutes elapsed since the last lot, that data point is skipped.  If you changed auctioneers mid-way though the auction, see if you can spot that location on this chart.  Faster isn't always better, but the speed of your auctioneer makes a huge difference on attrition, especially in larger auctions.  And of course, this is based on the lot sell time, so if you're recording bids on paper and tallying them up later, you may not get a perfect representation of your auctioneer's speed.
</div>{% endif %}
<p></p>
<h4>The importance of images on sell price</h4>
<canvas id="pictures" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_pictures" slug=auction.slug %}', function(data) {
    var ctx = $("#pictures").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'bar', data: data,
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // start the Y-axis scale at zero
                }
            }]
        }
      },
    });
  });
</script>
Generally, having an image makes a lot sell for more money, but more images don't help.  Remember that you can click on the legend to show/hide the number of lots or median value.  Does having a picture make a difference in your auction?

<p></p>
<h4>How far users travel to get to your auction</h4>
<canvas id="distances_traveled" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_distance_traveled" slug=auction.slug %}', function(data) {
    var ctx = $("#distances_traveled").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'bar', data: data,
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // start the Y-axis scale at zero
                }
            }]
        }
      },
    });
  });
</script>
Use this information to add additional pickup locations to future auctions.  Note that only people who join though this website have their location recorded: if you manually add people to your auction, they won't show up here.  IP address is used for people who choose not to share their exact location; be aware that IP geolocation is quite imprecise.
<p></p>
<h4>How many auctions have your users participated in previously?</h4>
<canvas id="auction_stats_previous_auctions" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_previous_auctions" slug=auction.slug %}', function(data) {
    var ctx = $("#auction_stats_previous_auctions").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'bar', data: data,
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // start the Y-axis scale at zero
                }
            }]
        }
      },
    });
  });
</script>
You want a good mix of newbies and veterans.  This takes into account ALL auctions on the site, not just ones you've created.  Email address is used to identify people, so if you left that blank, that person won't appear here at all.

<p></p>
<h4>How many lots do your users submit?</h4>
<canvas id="auction_stats_lots_submitted" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_lots_submitted" slug=auction.slug %}', function(data) {
    var ctx = $("#auction_stats_lots_submitted").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'bar', data: data,
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // start the Y-axis scale at zero
                }
            }]
        }
      },
    });
  });
</script>
Most people will add very few lots to an auction, but it's worth considering those people, as how their lots do will impact whether or not they come back.  Only people who actually bought or sold a lot are included here -- if someone joined your auction but didn't participate, they won't appear in any column of this graph.
{% if auction.multi_location %}
<p></p>
<h4>How much volume does each location do?</h4>
<canvas id="auction_stats_location_volume" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_location_volume" slug=auction.slug %}', function(data) {
    var ctx = $("#auction_stats_location_volume").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'bar', data: data,
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // start the Y-axis scale at zero
                }
            }]
        }
      },
    });
  });
</script>
Use this to spot low-volume locations to skip or advertise more at next time.
{% endif %}
<p></p>
<h4>Website feature utilization</h4>
<canvas id="auction_stats_feature_use" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_feature_use" slug=auction.slug %}', function(data) {
    var ctx = $("#auction_stats_feature_use").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'bar', data: data,
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // start the Y-axis scale at zero
                }
            }]
        }
      },
    });
  });
</script>
How many of your users are taking advantage of features on this webiste?
<div>These measure the percent of users who <b>could</b> be taking advantage of the feature, which means:</div>
<ul>
  <li>Searches, watches, proxy bidding, and chat measure only the percent of users with an account</li>
  <li>Proxy bidding shows the percent of your users with an account who have bid and who have ever used proxy bidding, even in other auctions</li>
  <li>View invoice shows the percent of all users with an invoice who viewed it</li>
  <li>Leave feedback shows the percent of all users who won a lot and left feedback on it</li>
</ul>
<p></p>
<h4>Referrers</h4>
<canvas id="auction_stats_referrers" width="500" height="400"></canvas>
<script type="text/javascript">
  $.get('{% url "auction_stats_referrers" slug=auction.slug %}', function(data) {
    var ctx = $("#auction_stats_referrers").get(0).getContext("2d");
    new Chart(ctx, {
      type: 'bar', data: data,
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // start the Y-axis scale at zero
                }
            }]
        }
      },
    });
  });
</script>
What websites are sending you traffic?

<div><a href="/auctions/{{auction.slug}}/" class="btn btn-primary active">Back to rules</a></div>
{% endblock %}
