{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ auction.title }} {% endblock %}
{% load static %}
{% block content %}
{% block extra_js %}{% endblock %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md1">
            <h1>{{ auction.title }}</h1>
            <br><h3>Users</h3>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td>Sellers</td><td>{{auction.number_of_sellers}}</td>
                  </tr>
                  <tr>
                    <td>Buyers</td><td>{{auction.number_of_buyers}}</td>
                  </tr>
              </tbody>
            </table>
            <br>
            <br><h3>Lots</h3>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td>Total lots</td><td>{{auction.total_lots}}</td>
                    </tr>
                    <tr>
                        <td>Unsold lots</td><td>{{auction.total_unsold_lots}} ({{auction.percent_unsold_lots|floatformat:0}}%)</td>
                      </tr>

                    <tr>
                    <td>Sold lots</td><td>{{auction.total_sold_lots}}</td>
                  </tr>
                  <tr>
                    <td>Median lot price</td><td>${{auction.median_lot_price|floatformat:2}}</td>
                  </tr>
                  <tr>
                    <td>Gross (value of all lots sold)</td><td>${{auction.gross|floatformat:2}}</td>
                  </tr>
                  <tr>
                    <td>Club profit (unrounded)</td><td>${{auction.club_profit_raw|floatformat:2}}</td>
                  </tr>
                  <tr>
                    <td>Club profit (final)</td><td>${{auction.club_profit|floatformat:2}} ({{auction.percent_to_club|floatformat:0}}% of gross)</td>
                  </tr>
                  <tr>
                    <td>Seller payout</td><td>${{auction.total_to_sellers|floatformat:2}}</td>
                  </tr>                  
              </tbody>
            </table>
            <br>
             <a href="/auctions/{{auction.slug}}/" class="btn btn-primary active">View rules</a>
        </div>
    </div>
</div>  

{% endblock %}


