{# this is not used - see auction.html instead #}
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ auction.title }} {% endblock %}
{% load static %}
{% block extra_js %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="e1MMTYSx"></script>
<script>
function copyLink() {
  var copyText = document.getElementById("copyShareLink");
  copyText.select();
  copyText.setSelectionRange(0, 99999);
  document.execCommand("copy");
  document.getElementById("copyShareLink").className += " is-valid";
} 

</script>
{% endblock %}
{% block content %}
<div id="fb-root"></div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md1">
            <h1>{{ auction.title }}</h1>
            An auction created by {{ auction.created_by }}<br>
            {% if request.user.is_authenticated %} <br>Questions?  Email <a href='mailto:{{ contact_email }}'>{{ contact_email }}</a>{% endif %}<br>
            {% if auction.notes_rendered %}{{ auction.notes_rendered|safe }} {% else %} {% if auction.notes %} {{ auction.notes|safe }}{% endif %}{% endif %}
            <br>{% if not auction.no_location %}<h3>Pickup location{% if auction.multi_location %}s{%endif%}</h3>
                {% for location in pickup_locations %}
                <br>
                <h5>{{ location.name }}</h5>
                {% if auction.created_by.pk == request.user.id or request.user.is_superuser %}
                <a href="/locations/edit/{{ location.pk }}/?next=/auctions/{{auction.slug}}" class="btn btn-warning active">Edit this location</a>
                {% endif %}
                <br>
                {{ location.description }} {% if location.users_must_coordinate_pickup %}You must schedule your pickup time in advance.{% else %}at {{ location.pickup_time }} {% if location.second_pickup_time %}<br><br> You must return at {{ location.second_pickup_time }} to pick up lots from other locations.{% endif %}{%endif%}<br><br>
                {% if location.pickup_location_contact_name and request.user.is_authenticated %}
                Contact for this location: <b>{{location.pickup_location_contact_name}}</b><br>
                {% if location.pickup_location_contact_phone %}{{location.pickup_location_contact_phone}}<br>{%endif%}
                {% if location.pickup_location_contact_email %}{{location.pickup_location_contact_email}}<br>{%endif%}
                <br>
                {% endif %}
                <iframe width="600" height="250" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?q={{ location.latitude }}%2C{{ location.longitude }}&key={{google_maps_api_key}}&zoom=9" allowfullscreen
                    >
                </iframe> 
                <br><br>
                {% endfor %}
            {% else %}The creator of this auction has not yet added a pickup location.  Check back soon!<br>{% endif %}
            <br><h3>Other information</h3>
            <ul>
                <li>Bidding will be open from {{ auction.date_start }} to {{ auction.date_end}}</li>
                {% if auction.lot_submission_end_date != auction.date_end %}<li>You can submit lots until {{ auction.lot_submission_end_date }}</li>{% endif %}
                {% if auction.sealed_bid %}<li>This is a sealed bid auction - you won't be able to see how much others have bid on an item.</li>{% endif %}
                {% if auction.winning_bid_percent_to_club and auction.lot_entry_fee %} <li>You will be charged ${{ auction.lot_entry_fee }} plus {{ auction.winning_bid_percent_to_club }}%  of the winning price per lot you sell</li>
                {% else %} {% if auction.winning_bid_percent_to_club %} <li>You will be charged {{ auction.winning_bid_percent_to_club }}% of the winning price per lot you sell</li> {% endif %} 
                {% if auction.lot_entry_fee %} <li>You will be charged a flat rate of ${{ auction.lot_entry_fee }} per item you sell</li> {% endif %}
                {% endif %}
                {% if auction.unsold_lot_fee %}<li>If your lot does not sell, you will be charged ${{ auction.unsold_lot_fee }}</li>{% endif %}
            </ul> 
            <br>Please spread the word about this auction -- every like and share helps the club bring in new sellers and bidders!<br><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out the {{ auction.title }}" data-url="https://{{ domain }}/?{{ auction.slug }}" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
            <div class="fb-share-button" data-href="https://{{ domain }}/?{{ auction.slug }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ domain|urlencode }}/?{{ auction.slug|urlencode }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
            <br>
            <label class="col-form-label col-form-label-sm" for="copyShareLink">Shareable link for this auction</label>    
            <div class="input-group mb-3 has-success">
                <input class="form-control form-control-sm" id='copyShareLink' style='max-width: 35%' type="text" value="https://{{ domain }}/?{{ auction.slug }}" readonly="">
                <div class="input-group-append">
                    <button class='btn-sm btn-primary' onclick="copyLink()">Copy</button>
                </div>
                <div class="valid-feedback">Copied.  Thanks for spreading the word!</div>
            </div>
            {% if not ended %}
                <br><br>
                {% if not auction.no_location %}
                    {% if request.user.is_authenticated %}
                        If you want to participate in this auction, you must confirm your pickup location
                        {% crispy form form.helper %}
                    {% else %}
                        <a href="/login/?next={% firstof request.path '/' %}">Please login to confirm your pickup location</a><br><br>
                    {% endif %}
                {% else %}
                    The creator of this auction has not yet added a pickup location.  Check back soon!
                {% endif %}
            {% endif %}
            <a href='/lots/?auction={{auction.slug}}' class="btn btn-primary active">View all lots for this auction</a>
            <br><br>
            {% if auction.created_by.pk == request.user.id or request.user.is_superuser %}
            text
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" data-bs-toggle="tab" href="/home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-toggle="tab" href="/contact_info">Profile</a>
                </li>
            </ul>
                <a href="/auctions/{{auction.slug}}/edit/" class="btn btn-warning mr-1 mt-1">Edit this auction</a>
                <a href="/locations/new/?next=/auctions/{{auction.slug}}" class="btn btn-primary mr-1 mt-1">Add pickup location</a>
                <a href="/locations/" class="btn btn-primary mr-1 mt-1">All pickup locations</a>
                <a href="/auctions/{{auction.slug}}/stats/" class="btn btn-primary mr-1 mt-1">Stats</a>
                <a href="/auctions/{{auction.slug}}/invoices/" class="btn btn-primary mr-1 mt-1">Invoices</a>
                <a href="/auctions/{{auction.slug}}/report/" class="btn btn-primary mr-1 mt-1">Download CSV Report</a>
                {% if auction.can_be_deleted %}
                    <a href="/auctions/{{auction.slug}}/delete/" class="btn btn-danger mr-1 mt-1">Delete</a>
                {% endif %}
            {% endif %}
            {% if request.user.is_superuser %}
                <a href="/admin/auctions/auction/{{auction.pk}}/change/" class="btn btn-danger mr-1 mt-1">Admin</a>
            {% endif %}
        </div>
    </div>
</div>  

{% endblock %}


