{% extends "base.html" %}

{% block title %}Invoices for {{ object }}{% endblock %}
{% load static %}
{% block content %}
<!-- <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-10 offset-lg-1"> -->
        {% include 'auction_ribbon.html' %}
        <!-- <h1>Invoices for {{ object }}</h1> -->
        <!-- <br> -->
        <button type='button' class='btn btn-info mr-1 mt-1' onclick="all_unpaid();">Set all drafts to ready</button>
        <button type='button' class='btn btn-success mr-1 mt-1' onclick="mark_all_paid();">Mark all ready as paid</button>
          <span class='text-muted'>
        <br><small>Marking an invoice ready will send an email notification to the user telling them that their invoice is ready.</small>
      </span>

      <div class="form-check">
        <input class="form-check-input visibility_checkbox" type="checkbox" value="" id="show_owe_club" checked>
        <label class="form-check-label" for="show_owe_club">
          Show invoices that owe the club
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input visibility_checkbox" type="checkbox" value="" id="show_club_owes" checked>
        <label class="form-check-label" for="show_club_owes">
          Show invoices the club owes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input visibility_checkbox" type="checkbox" value="" id="show_paid" checked>
        <label class="form-check-label" for="show_paid">
          Show paid
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input visibility_checkbox" type="checkbox" value="" id="show_unpaid" checked>
        <label class="form-check-label" for="show_unpaid">
          Show unpaid
        </label>
      </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Opened</th>
              <th scope="col">View</th>
              <th scope="col">Print</th>
              <th scope="col">Total</th>
              <th scope="col">Status</th>
              <th scope="col">Lots bought</th>
              <th scope="col">Lots sold</th>
              <th scope="col">Unsold lots</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            
            {% for invoice in invoices %}
            <tr id="row_{{invoice.pk}}" class="{% if invoice.user_should_be_paid %}user_should_be_paid{% else %}club_should_be_paid{% endif %} {% if invoice.status == 'PAID'%}row_paid{%else%}row_unpaid{% endif %}">
              <td>{{ invoice.pk }}</td>
              <td>{% if not invoice.opened %}No{%endif%}</td>
              <td><a href="/invoices/{{invoice.pk}}/">{% if invoice.user.first_name %}{{ invoice.user.first_name }} {{ invoice.user.last_name }}{% else %}{{ invoice.auctiontos_user.name }}{% endif %}</a></td>
              <td><a href="/invoices/{{invoice.pk}}/?print">Print</a></td>
              <td>${{ invoice.calculated_total|floatformat:2 }}</td>
              <td><div class="btn-group" role="group" aria-label="Invoice status selection">
                <button type="button" id="{{invoice.pk}}_DRAFT" onclick="payinvoice({{ invoice.pk }}, 'DRAFT');" class="btn {% if invoice.status == 'DRAFT'%}draft btn-primary{% else %}btn-secondary{% endif %}">Draft</button>
                <button type="button" id="{{invoice.pk}}_UNPAID" onclick="payinvoice({{ invoice.pk }}, 'UNPAID');" class="btn {% if invoice.status == 'UNPAID'%}btn-primary unpaid{% else %}btn-secondary{% endif %}">Ready</button>
                <button type="button" id="{{invoice.pk}}_PAID" onclick="payinvoice({{ invoice.pk }}, 'PAID');" class="btn {% if invoice.status == 'PAID'%}btn-success{% else %}btn-secondary{% endif %}">Paid</button>
              </div></td>
              <!--<td> {% if not invoice.paid %}<a class="btn btn-info active btn-sm" onclick="payinvoice({{ invoice.pk }})" id="pay_{{ invoice.pk }}">Mark paid</a>{% else %}<span>Paid</span>{% endif %}</td>-->
              <td>{% if invoice.lots_bought %}{{ invoice.lots_bought }}{% endif %}</td>
              <td>{% if invoice.lots_sold %}{{ invoice.lots_sold_successfully_count }}{% endif %}</td>
              <td>{% if invoice.lots_sold %}{{ invoice.unsold_lots }}{% endif %}</td>
              <td>{{ invoice.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <h4>Send batch Paypal invoices</h4>
      For use with Paypal's <a href="https://www.paypal.com/invoice/batch">batch invoice system</a>.  Paypal's fees apply.  <a href="/blog/online-payments-suck/">See how to use this.</a> Only invoices that have been marked <span class="text-danger">ready </span>and <span class="text-danger">have an email </span> will be exported.<br>
      <br>
      {% for chunk in object.paypal_invoice_chunks %}
        <a href="/auctions/{{ object.slug }}/paypal/{{ chunk }}/">Download Batch Invoice File #{{chunk}}</a><br>
      {% endfor %}
    <!-- </div>
</div>
</div>   -->

{% endblock %}
{% block extra_js %}
<script type="text/javascript">
  function all_unpaid() {
    $(".draft").each(function() {
      var pk = this.id.split("_")[0];
      payinvoice(pk, "UNPAID");
    });
  }

  function mark_all_paid() {
    $(".unpaid").each(function() {
      var pk = this.id.split("_")[0];
      payinvoice(pk, "PAID");
    });
  }
  
  $( ".visibility_checkbox" ).change(function() {
    refresh();
  });

  function refresh() {
    var show_club_owes = $('#show_club_owes').prop('checked');
    var show_owe_club = $('#show_owe_club').prop('checked');
    var show_paid = $('#show_paid').prop('checked');
    var show_unpaid = $('#show_unpaid').prop('checked');
    var found = false;
    if (!show_club_owes && !show_owe_club) {
      $('.club_should_be_paid').hide();
      $('.user_should_be_paid').hide();
    }
    if (!show_paid && !show_unpaid) {
      $('.row_paid').hide();
      $('.row_unpaid').hide();
    }
    if (show_paid && show_unpaid && show_club_owes && show_owe_club) {
      $('.row_unpaid').show();
      $('.row_paid').show();
      $('.club_should_be_paid').show();
      $('.user_should_be_paid').show();
    }
    if (!show_paid && show_unpaid && show_club_owes && show_owe_club) {
      $('.row_unpaid.user_should_be_paid').show();
      $('.row_unpaid.club_should_be_paid').show();
      $('.row_paid').hide();
    }
    if (show_paid && !show_unpaid && show_club_owes && show_owe_club) {
      $('.row_paid.club_should_be_paid').show();
      $('.row_paid.user_should_be_paid').show();
      $('.row_unpaid').hide();
    }
    if (show_paid && !show_unpaid && !show_club_owes && show_owe_club) {
      $('.row_paid.club_should_be_paid').show();
      $('.row_paid.user_should_be_paid').hide();
      $('.row_unpaid').hide();
    }
    if (show_paid && !show_unpaid && show_club_owes && !show_owe_club) {
      $('.row_paid.user_should_be_paid').show();
      $('.row_paid.club_should_be_paid').hide();
      $('.row_unpaid').hide();
    }
    if (!show_paid && show_unpaid && !show_club_owes && show_owe_club) {
      $('.row_unpaid.club_should_be_paid').show();
      $('.row_unpaid.user_should_be_paid').hide();
      $('.row_paid').hide();
    }
    if (show_paid && show_unpaid && show_club_owes && !show_owe_club) {
      $('.row_unpaid').show();
      $('.row_paid').show();
      $('.user_should_be_paid').show();
      $('.club_should_be_paid').hide();
    }
    if (show_paid && show_unpaid && !show_club_owes && show_owe_club) {
      $('.row_unpaid').show();
      $('.row_paid').show();
      $('.club_should_be_paid').show();
      $('.user_should_be_paid').hide();
    }
    if (!show_paid && show_unpaid && show_club_owes && !show_owe_club) {
      $('.row_unpaid').show();
      $('.club_should_be_paid').hide();
      $('.user_should_be_paid').show();
      $('.row_paid').hide();
    }
  }

  function payinvoice(id, status) {
    var $ = window.jQuery;
    data = {'status': status};
    $.ajax({
          type: "POST",
          beforeSend: function (request) {
              request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
          },
          data:data,
          url: "/api/payinvoice/" + id + "/",
          success : function(result) {
              if (status == "DRAFT") {
                $('#' + id + "_PAID").removeClass("btn-success");
                $('#' + id + "_UNPAID").removeClass("btn-info unpaid");
                $('#' + id + "_DRAFT").removeClass("btn-secondary");
                $('#' + id + "_PAID").addClass("btn-secondary");
                $('#' + id + "_UNPAID").addClass("btn-secondary");
                $('#' + id + "_DRAFT").addClass("btn-info draft");
              }
              if (status == "UNPAID") {
                $('#' + id + "_PAID").removeClass("btn-success");
                $('#' + id + "_UNPAID").removeClass("btn-info");
                $('#' + id + "_DRAFT").removeClass("btn-info draft");
                $('#' + id + "_PAID").addClass("btn-secondary");
                $('#' + id + "_UNPAID").addClass("btn-info unpaid");
                $('#' + id + "_DRAFT").addClass("btn-secondary");
              }
              if (status == "PAID") {
                $('#' + id + "_PAID").removeClass("btn-secondary");
                $('#' + id + "_UNPAID").removeClass("btn-info unpaid");
                $('#' + id + "_DRAFT").removeClass("btn-info draft");
                $('#' + id + "_PAID").addClass("btn-success");
                $('#' + id + "_UNPAID").addClass("btn-secondary");
                $('#' + id + "_DRAFT").addClass("btn-secondary");
                $('#row_' + id ).addClass('paid');
                $('#row_' + id ).removeClass('unpaid');
              } else {
                $('#row_' + id ).addClass('unpaid');
                $('#row_' + id ).removeClass('paid');
              }
          }
      });
  }
  </script>
{% endblock %}
