{% extends "base.html" %}

{% block title %}Invoices for {{ object }}{% endblock %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-10 offset-lg-1">
        <h1>Invoices for {{ object }}</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Opened</th>
              <th scope="col">User</th>
              <th scope="col">Total</th>
              <th scope="col">Paid</th>
              <th scope="col">Lots bought</th>
              <th scope="col">Lots sold</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            
            {% for invoice in invoices %}
            <tr>
              <td>{% if not invoice.opened %}No{%endif%}</td>
              <td><a href="/invoices/{{invoice.pk}}/?print">{% if invoice.user.first_name %}{{ invoice.user.first_name }} {{ invoice.user.last_name }}{% else %}{{ invoice.user }}{% endif %}</a></td>
              <td> {% if invoice.user_should_be_paid %} To be paid {% endif %}${{ invoice.absolute_amount|floatformat:2 }}</td>
              <td> {% if not invoice.paid %}<span style="color:red">Unpaid</span>{% else %}<span>Paid</span>{% endif %}</td>
              <td>{% if invoice.lots_bought %}{{ invoice.lots_bought }}{% endif %}</td>
              <td>{% if invoice.lots_sold_successfully %}{{ invoice.lots_sold_successfully }}{% endif %}</td>
              <td>{{ invoice.user.userdata.location }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <h3>Email contact lists by location:</h3>
      {% for location, emails in locations.items %}
      <a href='mailto:?bcc={{ emails.emails }}&subject={{ object }}'>{{ location }}</a><br>
      {% endfor %}
    </div>
</div>
</div>  

{% endblock %}


