{% load tz %}
{% load l10n %}
{% timezone user_timezone %}
{% load static %}
{% load django_htmx %}
<!DOCTYPE html>
<!-- Global site tag (gtag.js) - Google Analytics -->
{% if GOOGLE_MEASUREMENT_ID != "None" %}<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_MEASUREMENT_ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ GOOGLE_MEASUREMENT_ID }}');
</script>{% endif %}
<!-- Google Tag Manager -->
{% if GOOGLE_TAG_ID != "None" %}<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ GOOGLE_TAG_ID }}');</script>{% endif %}
  <!-- End Google Tag Manager -->
{% if rewrite_url %}
<script>
window.onload = function() {
    history.pushState("{{ rewrite_url }}", "", "{{ rewrite_url }}");
}
</script>
{% endif %}
  <html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        {% if GOOGLE_ADSENSE_ID != 'None' %}
        <script data-ad-client="{{GOOGLE_ADSENSE_ID}}" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        {% endif %}
        {% if show_ads %}<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>{% endif %}     
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Global javascript #}

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        {# 3.5.1 needed for focus to go to select2 dropdowns https://github.com/select2/select2/issues/5993 #}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/auction_site.js' %}"></script>
        
        {% include 'base_page_view.html' %}
        {# handle the unread messages and auctions notification counter #}
        <script>
          updateMessageCounter();
          function updateMessageCounter() {
            $.ajax({
              type: "POST",
              beforeSend: function (request) {
                  request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
              },
              url: "/api/users/auction_notifications/",
              success : function(result) {
                $("#new_auctions").html(result.new);
              }
            });
          }

        </script>
        {% if request.user.is_authenticated %}
        <script>
          updateMessageCounter();
          setInterval(updateMessageCounter, 120000);
          function updateMessageCounter() {
            $.ajax({
              type: "POST",
              beforeSend: function (request) {
                  request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
              },
              url: "/api/users/lot_notifications/",
              success : function(result) {
                $("#total_unread_lot_messages").html(result.new);
              }
            });
          }

        </script>
        {% endif %}
        {# Global stylesheets #}
        {% if theme %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/c.min.css' %}">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/auction_site.css' %}">
        <style>
.bs-canvas-overlay {
   opacity: 0;
   z-index: -1;
}

.bs-canvas-overlay.show {
   opacity: 0.85;
   z-index: 1100;
}

.bs-canvas {
   top: 0;
   width: 0;
   z-index: 1110;
   overflow-x: hidden;
   overflow-y: auto;
}

.bs-canvas-left {
   left: 0;
}

.bs-canvas-right {
   right: 0;
}

.bs-canvas-anim {
   transition: all .1s ease-out;
   -webkit-transition: all .1s ease-out;
   -moz-transition: all .1s ease-out;
   -ms-transition: all .1s ease-out;
}
        </style>
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            {% if theme %}
            try {
              Chart.defaults.global.defaultFontColor = "#fff";
            } catch(e) {}
            {% endif %}
            $('#div_id_captcha').hide(); //{# django-recaptcha does not play well with crispy forms #}
          });
          jQuery(document).ready(function($) {
            var bsDefaults = {
                  offset: false,
                  overlay: true,
                  width: '330px'
                },
                bsMain = $('.bs-offset-main'),
                bsOverlay = $('.bs-canvas-overlay');

            $('[data-toggle="canvas"][aria-expanded="false"]').on('click', function() {
                var canvas = $(this).data('target'),
                  opts = $.extend({}, bsDefaults, $(canvas).data()),
                  prop = $(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left';

                if (opts.width === '100%')
                  opts.offset = false;
                
                $(canvas).css('width', opts.width);
                if (opts.offset && bsMain.length)
                  bsMain.css(prop, opts.width);

                $(canvas + ' .bs-canvas-close').attr('aria-expanded', "true");
                $('[data-toggle="canvas"][data-target="' + canvas + '"]').attr('aria-expanded', "true");
                if (opts.overlay && bsOverlay.length)
                  bsOverlay.addClass('show');
                return false;
            });

            $('.bs-canvas-close, .bs-canvas-overlay').on('click', function() {
                var canvas, aria;
                if ($(this).hasClass('bs-canvas-close')) {
                  canvas = $(this).closest('.bs-canvas');
                  aria = $(this).add($('[data-toggle="canvas"][data-target="#' + canvas.attr('id') + '"]'));
                  if (bsMain.length)
                      bsMain.css(($(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left'), '');
                } else {
                  canvas = $('.bs-canvas');
                  aria = $('.bs-canvas-close, [data-toggle="canvas"]');
                  if (bsMain.length)
                      bsMain.css({
                        'margin-left': '',
                        'margin-right': ''
                      });
                }
                canvas.css('width', '');
                aria.attr('aria-expanded', "false");
                if (bsOverlay.length)
                  bsOverlay.removeClass('show');
                return false;
            });
          });
	
          </script>
      </head>

    <body class="{% block body_class %}{% endblock %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_ID }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <div class="bs-canvas-overlay bs-canvas-anim bg-dark position-fixed w-100 h-100"></div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-static-top" role="navigation">
          <a class="navbar-brand" href="/">auction.fish</a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site_navbar" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="site_navbar">
                <ul class="navbar-nav mr-auto">
                  <!--<li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://tfcb.org">TFCB homepage</a>
                  </li>-->
                  <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nifty numbers</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/leaderboard/">Leaderboard</a>
                      <a class="dropdown-item" href="/blog/encouraging-participation/">Encouraging participation</a>
                      <a class="dropdown-item" href="/blog/whats-a-picture-worth/">What's a picture worth?</a>
                      <a class="dropdown-item" href="/blog/category-popularity/">Category popularity</a>
                      <a class="dropdown-item" href="/blog/how-much-should-you-bid/">How much should you bid?</a>
                      <a class="dropdown-item" href="/blog/optimal-lot-submission-time/">The best time to add lots</a>
                    </div>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="/auctions/">Auctions <span id="new_auctions" class='badge-pill badge badge-warning' style='color:black;font-weight:900'></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/lots/">Lots</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'selling' %}">Selling <span id="total_unread_lot_messages" class='badge-pill badge badge-warning' style='color:black;font-weight:900'></span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'watched' %}">Watched lots</a>
                  </li>  
                  {% if request.user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/auth/user/?o=-5">Admin Site</a>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link" href="{% url 'admin_user_map' %}?view=recent&filter=24">User Map</a></li>
                  {% endif %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/about/">About site</a>
                      <a class="dropdown-item" href="/faq/">FAQ</a>
                      <!-- <a class="dropdown-item" href="/auctions/tfcb-annual-auction/">Example auction rules</a>
                      <a class="dropdown-item" href="/lots/?auction=tfcb-annual-auction">Example auction lots</a> -->
                      <a class="dropdown-item" href="/tos/">Terms and Conditions</a>
                      </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/clubs/">Clubs</a>
                  </li>  
                  {% if request.user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                    <div class="dropdown-menu">
                      <h6 class="dropdown-header">Lots</h6>
                      <a class="dropdown-item" href="{% url 'selling' %}">Selling</a>
                      <a class="dropdown-item" href="{% url 'watched' %}">Watched lots</a>
                      <a class="dropdown-item" href="{% url 'my_bids' %}">Bids</a>
                      <a class="dropdown-item" href="{% url 'won_lots' %}">Won lots</a>
                      <div class="dropdown-divider"></div>
                      <h6 class="dropdown-header">Account</h6>
                      <a class="dropdown-item" href="{% url 'account' %}">Account information</a>
                      <a class="dropdown-item" href="{% url 'feedback' %}">Feedback</a>
                      <a class="dropdown-item" href="{% url 'my_invoices' %}">Invoices</a>
                      <a class="dropdown-item" href="{% url 'contact_info' %}">Contact info</a>
                      <a class="dropdown-item" href="{% url 'preferences' %}">Preferences</a>
                      <a class="dropdown-item" href="{% url 'printing' %}">Label printing</a>
                      <a class="dropdown-item" href="{% url 'ignore_categories' %}">Ignore categories</a>
                      <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="dropdown-item" type="submit">Sign out</button>
                      </form>
                      <!--<a class="dropdown-item" href="/logout/">Sign out with confirmation page</a>-->
                    </div>
                  </li>
                  {% else %}
                  <a href="/login/?next={% firstof request.path '/' %}" class='nav-link'>Sign in</a>
                {% endif %}
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                  
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  

                </form> -->
              </div>
          </div>
        </nav>
        {% if not hide_tos_banner %}
        <div class="alert alert-primary mb-0" role="alert" style="position:fixed; bottom: 0px; width: 100%; z-index:9999;">By using this site, you accept our <a href="/tos/">use of cookies and our terms and conditions</a> <button class="btn-sm btn-light" type="button" onclick="agreeTos()">Don't show again</button></button></div>
        <script>
          function agreeTos() {
            document.cookie = "hide_tos_banner=true; SameSite=Strict; path=/";
            window.location.reload();
          }
        </script>
        {% endif %}
        {# set timezone via js #}
        {% if not user_timezone_set %}
          <script>
            $(document).ready(function(){
              try {
                let tz = Intl.DateTimeFormat().resolvedOptions().timeZone;
                if (!tz) {
                  throw "Unable to set time zone";
                }
                document.cookie = "user_timezone=" + tz + "; SameSite=Strict; path=/";
              } catch(e) {}
            });
          </script>
        {% endif %}
        {# if the location is not set, we can ask for it with a simple location_message, or use custom logic on any element that calls the function setLocation #}
        {% if not has_user_location and location_message %}
        <div class="alert alert-secondary mb-0 alert-dismissible fade show" role="alert"><a href="#" onclick="setLocation()">{{ location_message }}</a> <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="t">&times;</span>
        </button></div>
        {% endif %}
        <script>
        function setLocation(){ 
          if (navigator.geolocation) {
            console.log('pre');
            navigator.geolocation.getCurrentPosition(function(data){
              document.cookie = "latitude=" + data.coords['latitude'] + "; SameSite=Strict; path=/";
              document.cookie = "longitude=" + data.coords['longitude'] + "; SameSite=Strict; path=/";
              window.location.reload();
            });
          } else { 
            {% if request.user.is_authenticated %}
            window.location = "/users/{{ request.user.pk }}/location/";
            {% endif %}
          }
        }
        function saveLocation(data) {

        }
        </script>
        {% if messages %}
            {% for message in messages %}
            <div class="alert 
            {% if "error" in message.tags %}
            alert-danger
            {% else %}
            alert-{{ message.tags }}
            {% endif %}
            alert-dismissible fade show" role="alert">{{ message|safe }} 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            {% endfor %}
        {% endif %}
        <div class="container mt-5 mb-5">
            <div class="col-md-12">
              {% block content %}{% endblock %}
              {% block extra_content %}{% endblock %}
            </div>
        </div>  
        {% block undiv_content %}{% endblock %}
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
      <div id="modals-here"></div>
    </body>
    {# this is to redirect for printing #}
    <script>
      var urlParams = new URLSearchParams(window.location.search);
      var printredirect = urlParams.get('printredirect');
      if (printredirect) { 
        var a = document.createElement("a");
        a.href = printredirect;
        document.body.appendChild(a);
        a.click();
      }
    </script>
    <!-- <script type="text/javascript" src="https://unpkg.com/htmx.org@1.8.0/dist/htmx.js"></script>-->
    <script type="text/javascript" src="{% static 'js/htmx.min.js' defer %}"></script>
    <script type="text/javascript" src="{% static 'js/ws.js' defer %}"></script>
    {# CRSF for use with HTMX #}
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
      
</html>
{% endtimezone %}