{% load static %}
<!DOCTYPE html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_MEASUREMENT_ID }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ GOOGLE_MEASUREMENT_ID }}');
</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','{{ GOOGLE_TAG_ID }}');</script>
  <!-- End Google Tag Manager -->
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Global javascript #}
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="{% static 'js/auction_site.js' %}"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        {# handle the unread messages notification counter #}
        {% if request.user.is_authenticated %}
        <script>
          updateMessageCounter();
          setInterval(updateMessageCounter, 60000);
          function updateMessageCounter() {
            $.ajax({
              type: "POST",
              beforeSend: function (request) {
                  request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
              },
              url: "/api/users/lot_notifications/",
              success : function(result) {
                $("#total_unread_lot_messages").html(result.new);
              }
            });
          }

        </script>
        {% endif %}
        {# Global stylesheets #}
        {% if theme %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/c.min.css' %}">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/auction_site.css' %}">
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
        <script>
          $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
            {% if theme %}
            try {
              Chart.defaults.global.defaultFontColor = "#fff";
            } catch(e) {}
            {% endif %}
          });
          </script>
      </head>

    <body class="{% block body_class %}{% endblock %}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_ID }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-static-top" role="navigation">
          <a class="navbar-brand" href="/">auction.fish</a>  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site_navbar" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="site_navbar">
                <ul class="navbar-nav mr-auto">
                  <!--<li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://tfcb.org">TFCB homepage</a>
                  </li>-->
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Nifty numbers</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/leaderboard/">Leaderboard</a>
                      <a class="dropdown-item" href="/blog/encouraging-participation/">Encouraging participation</a>
                      <a class="dropdown-item" href="/blog/whats-a-picture-worth/">What's a picture worth?</a>
                      <a class="dropdown-item" href="/blog/category-popularity/">Category popularity</a>
                      <a class="dropdown-item" href="/blog/how-much-should-you-bid/">How much should you bid?</a>
                      <a class="dropdown-item" href="/blog/optimal-lot-submission-time/">The best time to add lots</a>
                      
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/lots/">Lots</a>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link" href="/auctions/">Auctions</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link" href="/lots/new">Create lot</a>
                  </li>  
                  <li class="nav-item">
                    <a class="nav-link" href="/lots/watched">Watched lots</a>
                  </li>  
                  <li class="nav-item">
                  <a class="nav-link" href="/lots/user/?user={{request.user.pk}}">My lots <span id="total_unread_lot_messages" class='badge-pill badge badge-warning' style='color:black;font-weight:900'></span></a>
                  </li>
                  {% endif %}
                  {% if request.user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin Site</a>
                  </li>
                  {% endif %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="/about/">About site</a>
                      <a class="dropdown-item" href="/auctions/tfcb-annual-auction/">Example auction rules</a>
                      <a class="dropdown-item" href="/lots/?a=tfcb-annual-auction">Example auction lots</a>
                      </div>
                  </li>
                  {% if request.user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                    <div class="dropdown-menu">
                      <h6 class="dropdown-header">Lots</h6>
                      <a class="dropdown-item" href="/lots/watched">Watched lots</a>
                      <a class="dropdown-item" href="/bids">Your bids</a>
                      <a class="dropdown-item" href="/lots/won">Won lots</a>
                      <div class="dropdown-divider"></div>
                      <h6 class="dropdown-header">Account</h6>
                      <a class="dropdown-item" href="/account/">Account information</a>
                      <a class="dropdown-item" href="/feedback/">Feedback</a>
                      <a class="dropdown-item" href="/invoices/">Invoices</a>
                      <a class="dropdown-item" href="/users/{{ request.user.pk }}/location/">Contact info</a>
                      <a class="dropdown-item" href="/users/{{ request.user.pk }}/preferences/">Preferences</a>
                      <a class="dropdown-item" href="/ignore">Ignore categories</a>
                      <form method="post" action="{% url 'account_logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button class="dropdown-item" type="submit">Sign out</button>
                      </form>
                      <!--<a class="dropdown-item" href="/logout/">Sign out with confirmation page</a>-->
                    </div>
                  </li>

                  {% else %}
                  <a href="/login/?next={% firstof request.path '/' %}" class='nav-link'>Sign in</a>
                {% endif %}
                </ul>
                <!-- <form class="form-inline my-2 my-lg-0">
                  
                  <input class="form-control mr-sm-2" type="text" placeholder="Search">
                  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                  

                </form> -->
              </div>
          </div>
        </nav>
        
        {% if messages %}
            {% for message in messages %}
            {% if "error" in message.tags %}
            <div class="alert alert-danger" role="alert">{{ message|safe }} </div>
            {% else %}
            <div class="alert alert-{{ message.tags }}" role="alert">{{ message|safe }} </div>
            {% endif %}
            {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}

        
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
