{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block title %}Chat messages for {{ auction }}{% endblock %}
{% load static %}
{% block content %}
  {% include 'auction_ribbon.html' %}
  <small>These are messages users have posted on lots in your auction.  Deleted messages will show up here, but won't be visible to users on the lot page. {% if not auction.is_chat_allowed %}Chat has been disabled in this auction.{% endif %}</small><p>
    <table class="table">
      <thead>
          <tr>
              <th>User</th>
              <th>Timestamp</th>
              <th>Message</th>
          </tr>
      </thead>
      <tbody>
          {% for history in object_list %}
              <tr>
                  <td> {% if history.auctiontos_pk %}
                    <a href="#"
                    style="cursor:pointer;"
                    hx-get="{% url 'auctiontosadmin' history.auctiontos_pk %}"
                    hx-target="#modals-here"
                    hx-trigger="click">
                    {{ history.user }}</a>{% else %}{{ history.user }}<br><small>User has not joined your auction</small>{% endif %}
                  </td>
                  <td><small>{{ history.timestamp }}</small></td>
                  <td>
                      
                          {{ history.message }}
                            <a href="#"
                          hx-post="{% url 'delete_auction_chat' history.pk %}"
                          hx-target="#message_{{ history.pk }}"
                          hx-swap="outerHTML">
                          {% if not history.removed %}
                            <span id="message_{{history.pk}}" class='badge bg-info'>Delete</span>
                          {% else %}
                            <span id="message_{{history.pk}}" class="badge bg-danger">Deleted</span>
                          {% endif %}</a><br>
                        <small>on <a href='{{history.lot.lot_link}}'>{{ history.lot.lot_name }}</a></small>
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
  {% if not object_list %}No chat messages in your auction yet.{% endif %}
</div>
<div id="modals-here"></div>
    {% endblock %}
{% block extra_js %}
<script type='text/javascript'>pageView();</script>
{% endblock %}
