{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block title %}Chat messages for {{ auction }}{% endblock %}
{% load static %}
{% block content %}
  {% include 'auction_ribbon.html' %}
  
  The ability to monitor and delete chat messages in your auction is <strong>coming soon™</strong>.<p>
  (Probably years from now, given how much time I've had to work on this site lately)
  <p>If this is something that's important to you, <a href="https://github.com/iragm/fishauctions/issues/62">leave a comment here</a> or send me an email directly.
{% endblock %}
{% block extra_js %}
{% endblock %}
