{% extends "base.html" %}
{% block title %} Referrers {% endblock %}
{% load static %}
{% block content %}
<h3>Referrers from the last {{ days }} days</h3>
<table>
  <thead>
    <tr>
      <th>Clicks</th>
      <th>Referrer</th>
      <th>Top page</th>
    </tr>
  </thead>
  <tbody>
  {% for ref in referrers %}
    <tr>
      <td>{{ ref.total_clicks }}</td>
      <td>{{ ref.referrer }}</td>
      <td><a href='{{ref.url}}'>{{ ref.title }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
