{% extends "base.html" %}
{% block title %} Admin Dashboard {% endblock %}
{% load static %}
{% block content %}
<h3>User stats</h3>
<table class="table">
    <tr>
      <td>Active users 5m:</td>
      <td> {{ 5m_views_count }}
      </td>
    </tr>
    <tr>
      <td>Active users 30m:</td>
      <td> {{ 30m_views_count }}
      </td>
    </tr>
    <tr>
      <td>Active users 1d:</td>
      <td>{{ day_views_count }} ({{day_views_count_percent_with_account}}% with an account)
      </td>
    </tr>
    <tr>
      <td>Total users:</td>
      <td> {{ total_users }}
      </td>
    </tr>
</table>
<h3>Current auction usage</h3>
<small class='text-muted'>Use this info along with the current users stat to see if it's safe to apply updates</small>
<table class="table">
    <tr>
      <td>Lots from in person auctions ended in the last 30 minutes</td>
      <td> {{ in_person_lots_ended }}
      </td>
    </tr>
    <tr>
      <td>Online auction lots scheduled to end in the next 2 hours</td>
      <td> {{ online_auction_lots_ending }}
      </td>
    </tr>
</table>
{% endblock %}
