{% extends "base.html" %}
{{ form.media }}
{% load crispy_forms_tags %}
{% block extra_js %}
<script type='text/javascript'>pageView();</script>
<script type="text/javascript">
$('#auction-form').submit(function(event){
    $(this).find(':input[type=submit]').prop('disabled', true);
});
</script>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
            <h4>{{ title }}</h4>
            {% if images_managed_from_lot %}
            <p class="text-muted">Images are managed from <a href="{{ images_managed_from_lot.lot_link }}">{{ images_managed_from_lot.lot_name }}</a>.</p>
            {% endif %}
            {% crispy form form.helper %}
{% endblock %}
