{% extends base_template_name %}
{% load crispy_forms_tags %}
{% block title %} {{ invoice.auction }} {% endblock %}
{% load static %}
{% block content %}
{% block extra_js %}{% endblock %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md1">
            <h1>{% if exampleMode %}Example{%else%}{{ invoice.user.first_name }} {{ invoice.user.last_name }}{% endif %}</h1>
            {% if location %}<h5>{{location}}{% if exampleMode %}<span class='text-muted'> This is the pickup location selected by the user</span>{%endif%}</h5>{%endif%}<br>
            {% if request.user.pk == invoice.auction.created_by.pk or request.user.is_superuser %}
              {% if show_links %}
              <br><h5>Adjust this invoice</h5>
              {% crispy form form.helper %}
              <br>
              {%endif%}
            {%endif%}
            {% if show_links %}<a href="{{ request.path }}?print" class="btn btn-primary active">Printable view</a><br>
            <br><a href="/feedback/">Don't forget to leave feedback for lots you've bought or sold!</a><br>{% endif %}
            {% if auction %}
              {% if invoice.lots_sold %}
              <br>Please write the lot number and, if possible, the name of the winner on each lot.  
              {% endif %}
            {% endif %}
            {% if show_links %}{%if contact_email %}Questions?  Email <a href='mailto:{{ contact_email }}'>{{ contact_email }}</a><br>{% endif %}<br>{% endif %}
            <table class="table">
            <tr>
              <td>Contact info:</td>
              <td>{% if exampleMode %}David Banks<br>
                1234 Street<br>
                Anytown, USA 90210<br>
                davidbanks@example.com<br>
                123-456-7890                
                {%else%} {{ invoice.user.first_name }} {{ invoice.user.last_name }}<br>
                {{ userdata.address }}<br>
                {{ invoice.user.email }}<br>
                {{ userdata.phone_number }}{% endif %}
              </td>
            </tr>
            <tr>
              <td>Auction</td>
              <td>{{ auction }}{% if show_links %} <a href='/auctions/{{ auction.slug }}'>Rules and maps</a><br>{%endif%}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{% if not invoice.paid %}<span class="text-danger">Unpaid</span>{% else %}<span>Paid</span>{% endif %}{% if exampleMode %}<span class='text-muted'></class> Only the creator of an auction can mark invoices as paid</span>{%endif%}</td>
            </tr>
            <tr>
            {% if location %}
              <td>Location</td>
              <td>{{ location.name }} <br> {{ location.description }} on {{ location.pickup_time }}
                {% if location.second_pickup_time %}<br>You must also come back on {{ location.second_pickup_time }} to pick up lots purchased from other locations{%endif%}
              </td>
              </tr>
            {%endif%}
            <tr>
              <td>Total sold</td>
              <td>${{ invoice.total_sold|floatformat:2 }}</td>
            </tr>
            <tr>
              <td>Total bought</td>
              <td>${{ invoice.total_bought|floatformat:2 }}</td>
            </tr>
            {% if invoice.first_bid_payout %}
            <tr>
              <td>Auction promotion</td>
              <td>${{ invoice.first_bid_payout|floatformat:2 }}</td>
            </tr>
            {% endif %}
            {% if invoice.adjustment %}
            <tr>
              <td>Other</td>
              <td>{% if invoice.adjustment_direction == 'PAY_SELLER' %}+{% else%}-{%endif%}${{ invoice.adjustment|floatformat:2 }} {{ invoice.adjustment_notes }}</td>
            </tr>
            {% endif %}
            <tr>
              <td>Final total (rounded)</td>
              <td>{{ invoice.invoice_summary }}</td>
            </tr>
          </table>
          {%if invoice.lots_sold %}  
            <h3>Lots sold</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lot</th>
                    <th scope="col">Buyer</th>
                    {% if auction.alternate_pickup_location %}
                    <th scope="col">Winner Location</th>
                    {% endif %}
                    <th scope="col">Price</th>
                    <th scope="col">Club cut</th>
                    <th scope="col">Net</th>
                  </tr>
                </thead>
                <tbody>
                  
                 {% for lot in sold %}
                  <tr>
                    <td>{{ lot.lot_number }}</td>
                    <td>{% if show_links %}<a href="/lots/{{lot.pk}}/{{lot.slug}}/">{{ lot.lot_name }}</a>{% else %}{{ lot.lot_name }}{% endif%}</td>
                    <td>{% if lot.winning_price %} {% if exampleMode %}Real name of buyer here{%else%}{{ lot.winner.first_name }} {{ lot.winner.last_name }}{% endif %} {% else %} Not sold {% endif %}</td>
                    {% if auction.alternate_pickup_location %}
                    <td>{% if lot.winner %}{{ lot.winner_location }}{% endif %}</td>
                    {% endif %}
                    <td>{% if lot.winning_price %} ${{ lot.winning_price|floatformat:2 }} {% else %} Not sold {% endif %}</td>
                    <td>${{ lot.club_cut|floatformat:2 }}{% if lot.promoted %} (promoted){% endif %}</td>
                    <td>{% if lot.donation %}Donation{% else %}${{ lot.your_cut|floatformat:2 }}{% endif %}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
            <b>Total sold:</b> ${{ invoice.total_sold|floatformat:2 }}   <br>         
            {% endif %}
            <br>
            {%if invoice.lots_bought %}
            <h3>Lots purchased</h3>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Lot</th>
                    {% if auction.alternate_pickup_location %}
                    <th scope="col">Location</th>
                    {% endif %}
                    <th scope="col">Seller</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                  
                 {% for lot in bought%}
                  <tr>
                    <td>{{ lot.lot_number }}</td>
                    <td>{% if show_links %}<a href="/lots/{{lot.pk}}/{{lot.slug}}/">{{ lot.lot_name }}</a>{% else %}{{ lot.lot_name }}{% endif %}</td>
                    {% if auction.alternate_pickup_location %}
                    <td>{{ lot.location }}</td>
                    {% endif %}
                    <td>{% if exampleMode %}Real name of seller here{%else%}{{ lot.user.first_name }} {{ lot.user.last_name }}{% endif %}</td>
                    <td>${{ lot.winning_price|floatformat:2 }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
            <b>Total bought:</b> ${{ invoice.total_bought|floatformat:2 }}     <br>       
            {% endif %}
            {% if request.user.is_superuser and show_links %}
            <a href="/admin/auctions/invoice/{{invoice.pk}}/change/" class="btn btn-danger active">Admin</a>
            {% endif %}
        </div>
    </div>
</div>  

{% endblock %}


