{% extends 'print.html' %}
{% block title %} Labels for {{ invoice.label }} {% endblock %}
{% load static %}
{% load qr_code %}
{% block content %}
<div class='ml-5 mb-5'>⚫ Print on standard 8.5x11 paper in portrait (normal) mode ⚫ Cut each label out with scissors ⚫ Make sure bag is dry ⚫ Attach to bag using packing tape ⚫ Do not run with scissors</div>
<div class="container-fluid ">
  <div class="row">
    {% for lot in actually_sold %}
      <div class="col-5 row no-gutters border border-secondary mb-2 mr-1 half-size" >
        <!-- <div class="container ">
          <div class="row no-gutters border border-secondary mb-3 mr-1 half-size"> -->
              <div class="col-3">
                {% qr_from_text lot.qr_code size="t" %}
              </div>
              <div class="col-9">
                <b>{{ lot.lot_number_display }} - {{ lot.lot_name }} </b><small>(QTY: {{lot.quantity}})<br>
                <b>Seller:</b> {{ lot.user.first_name }} {{ lot.user.last_name }}<br>{{ lot.user.email }}<br>
                <b>Winner:</b> {{ lot.winner.first_name }} {{ lot.winner.last_name }}<br>{{ lot.winner.email }}</small>{% if lot.auction.multi_location %}<br><b>{{ lot.winner_location }}{% endif %}</b>
              </div>
          <!-- </div>
        </div> -->
      </div>
    {% endfor %}
  </div>  
</div>  
{% endblock %}