{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}
{% load static %}
{% block content %}
{% block extra_js %}{% endblock %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md1">
            <h1><s>Lead</s>Breederboard</h1><br>
            <h3>Most unique species bred and sold</h3><br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">User</th>
                    <th scope="col">Species</th>
                  </tr>
                </thead>
                <tbody>
                  
                {% for data in unique_species|slice:":10" %}
                  <tr>
                    <td>{{ data.rank_unique_species }}</td>
                    <td>{{ data.user }}</td>
                    <td>{{ data.number_unique_species }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table><br>
            <h3>Most lots sold</h3><br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">User</th>
                    <th scope="col">Lots</th>
                  </tr>
                </thead>
                <tbody>
                  
                {% for data in total_lots|slice:":10" %}
                  <tr>
                    <td>{{ data.rank_total_lots }}</td>
                    <td>{{ data.user }}</td>
                    <td>{{ data.number_total_lots }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table><br>
            <h3>Most lots bid on</h3><br>
            <span class="text-muted">Here's a tip: only <em>successful</em> bids count towards this.  If you see the <span class="text-warning">You've been outbid</span> message, it means your bid didn't count.  You don't have to win the lot to get points here, just be the high bidder at least once.  Bid early and bid high to keep others from getting points in this category!</span><br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">User</th>
                    <th scope="col">Number</th>
                  </tr>
                </thead>
                <tbody>
                  
                {% for data in total_bids|slice:":10" %}
                  <tr>
                    <td>{{ data.rank_total_bids }}</td>
                    <td>{{ data.user }}</td>
                    <td>{{ data.number_total_bids }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table><br>
        </div>
    </div>
</div>  
{% endblock %}


