{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}
{% load static %}
{% block content %}
            <h3><s>Lead</s>Breederboard</h3><br>
            <h3>Most unique species bred and sold</h3><br>
            <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">User</th>
                    <th scope="col">Species</th>
                  </tr>
                </thead>
                <tbody>

                {% for data in unique_species|slice:":10" %}
                  <tr>
                    <td>{{ data.rank_unique_species }}</td>
                    <td>{{ data.user }}</td>
                    <td>{{ data.number_unique_species }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </div><br>
            <h3>Most lots sold</h3><br>
            <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">User</th>
                    <th scope="col">Lots</th>
                  </tr>
                </thead>
                <tbody>

                {% for data in total_lots|slice:":10" %}
                  <tr>
                    <td>{{ data.rank_total_lots }}</td>
                    <td>{{ data.user }}</td>
                    <td>{{ data.number_total_lots }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </div><br>
            <h3>Most lots bid on</h3><br>
            <span class="text-muted">Counts lots where you were the high bidder at least once.</span><br>
            <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">User</th>
                    <th scope="col">Number</th>
                  </tr>
                </thead>
                <tbody>

                {% for data in total_bids|slice:":10" %}
                  <tr>
                    <td>{{ data.rank_total_bids }}</td>
                    <td>{{ data.user }}</td>
                    <td>{{ data.number_total_bids }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            </div><br>
{% endblock %}
