{% extends "base.html" %}
{{ form.media }}

{% load i18n %}
{% load crispy_forms_tags %}
{% block extra_js %}
<script type="text/javascript">
    $( document ).ready(function() {
        document.getElementById('id_location_coordinates').style.display = "none";
    });
    $('#location-form').submit(function(event){
        $(this).find(':input[type=submit]').prop('disabled', true);
    });
var form_id = '#location-form';
{% include 'leave_page_warning.js' %}
</script>
{% endblock %}
{% block title %}Pickup location{% endblock %}
{% block content %}
            <a href='/blog/multiple-location-auctions/' target="_blank">Learn about having multiple pickup locations in your auction</a>
            <br><br>
            {% crispy form form.helper %}
            <br>
{% endblock %}