{% if embed == 'all_lots' %}
  {% load el_pagination_tags %}
{% endif %}
{% if not object_list %}
  {% if embed == 'all_lots' %}
  <h5>No lots found</h5>
  {% else %}
  <h5>You've already seen all your recommended lots</h5>
  {% endif %}
{% else %}
<div class="container mt-5 mb-5 ml-1">
  <div class="row">
    <div class="col-md-10 offset-lg-1">
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Seller</th>
      <th scope="col">Category</th>
      <th scope="col">Lot name</th>
      <th scope="col">Price</th>
      <th scope="col">High bidder</th>
      <th scope="col">Activity</th>
      <th scope="col">Ends</th>
    </tr>
  </thead>
  <tbody>
    {% if embed == 'all_lots' %}
    {% paginate filter.qs as object_list %}
    {% endif %}
    {% for lot in object_list %}
    <tr class='nowrap'>
      <td>{% if lot.auction %}
            Lot {{ lot.lot_number }}
          {% else %}
            {% if lot.local_pickup %}
            {% if lot.distance >= 0 %}{{ lot.distance|floatformat:0 }}{% else %}?{%endif%} miles
            {% else %}
              {% if request.user.userdata.location in lot.shipping_locations.all %}
                Ships
              {% else %}
                {% if lot.other_text %}
                {{ lot.other_text }}
                {% else %}
                Not available
                {%endif%}
              {% endif %}
            {% endif %}
          {% endif %}
        {% if lot.is_watched_by_req_user %}<span class="badge" style='color:yellow; font-size:1.2em; text-shadow: 0px 0px 10px #000000;'>&#9733;</span>{% endif %}
        {% if lot.banned %}
        <span class="text-danger">Banned</span>
        {% endif %}
      </td>
      <td>{% if lot.donation %}Donation{% else %}{{ lot.user }}{% endif %}</td>
      <td>{{ lot.species_category }}</td>
      <td><a href="/lots/{{lot.lot_number}}/{{lot.slug}}/">{{ lot.lot_name }}</a></td>
      <td>${{ lot.high_bid }} </td>
      <td>{% if lot.high_bidder %}{{ lot.high_bidder }}{% else %}No bids{% endif %}</td>
      <td>{% if lot.user.pk == request.user.pk %}{% if lot.owner_chats %}<span class='text-warning'>{{ lot.owner_chats }}</span>{% endif %}
        {% else %}
        {% if lot.all_chats %}<span class='text-muted>'>{{lot.all_chats}}</span>{% endif %}
        {% endif %}</td>
      <td >{% if lot.ended %}<span style="color:red">{{ lot.calculated_end }}</span>{% else %}{{ lot.calculated_end }}{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>
</div>
{% endif %}

{% if embed == 'all_lots' %}
  {% show_more %}
{% endif %}
