{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block extra_css %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block extra_js %}
<script type='text/javascript'>pageView();</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">

var form_id = '#lot-form';
{% include 'leave_page_warning.js' %}

function setAuction(setting) {
    if (setting) {
        $('#div_id_auction').show();
        $('#div_id_donation').show();
        $('#div_id_relist_if_not_sold').hide();
        $('#div_id_relist_if_sold').hide();
        $('#div_id_promoted').hide();
        $('#div_id_run_duration').hide();
        $('#div_id_show_payment_pickup_info').hide();
        $("#id_show_payment_pickup_info").prop('checked', false);
        $('#payment_pickup_info').hide();
        setAuctionRequiredFields($('#id_auction').val())
    } else {
        $('#div_id_auction').hide();
        $('#div_id_donation').hide();
        $('#div_id_promoted').show();
        $('#div_id_relist_if_not_sold').show();
        $('#div_id_relist_if_sold').show();
        $('#div_id_run_duration').show();
        $('#div_id_show_payment_pickup_info').show();
        setAuctionRequiredFields(false);
    }
    
}

function setAuctionRequiredFields(val) {
    $.ajax({
            type: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
            url: "{% url 'get_auction_info' %}",
            data: {'auction': val},
            success : function(result) {
                if (result.buy_now) {
                    if (result.use_categories) {
                        $('#div_id_species_category').show();
                        $('#div_id_i_bred_this_fish').show();
                    } else {
                        $('#div_id_species_category').hide();
                        $('#div_id_i_bred_this_fish').hide();
                    }
                    if (result.reserve_price == 'disable') {
                        $('#div_id_reserve_price').hide();
                    } else {
                        $('#div_id_reserve_price').show();
                    }
                    if (result.buy_now == 'disable') {
                        $('#div_id_buy_now_price').hide();
                        $('#id_buy_now_price').attr('required', false);
                    } else {
                        $('#div_id_buy_now_price').show();
                    }
                    if (result.buy_now == 'required') {
                        $('#id_buy_now_price').attr('required', true);
                    }
                } else {
                    $('#div_id_species_category').show();
                    $('#div_id_i_bred_this_fish').show();
                    $('#id_buy_now_price').attr('required', false);
                    $('#div_id_reserve_price').show();
                    $('#div_id_buy_now_price').show();
                }
            }
        });
}

$(document).ready(function() {
    if(document.getElementById('id_part_of_auction_0').checked) {
        setAuction(true); 
    } else {
        setAuction(false);
    }
    if (document.getElementById('id_show_payment_pickup_info').checked) {
        $('#payment_pickup_info').show(); 
    } else {
        $('#payment_pickup_info').hide(); 
    }
    $('#id_part_of_auction_0').change(function(data) {
        setAuction(true);
    });
    $('#id_part_of_auction_1').change(function(data) {
        setAuction(false);
    });
    $('#id_show_payment_pickup_info').change(function(data) {
        if(this.checked) {
            $('#payment_pickup_info').show();
        } else {
            $('#payment_pickup_info').hide();
        }
    });
    $('#id_auction').change(function(data) {
        setAuction(true);
    });
    $('#id_lot_name').change(function(data) {
        if (!$('#id_species_category').val() || $('#id_species_category').val() == 21) {
            if ($('#div_id_species_category').is(':visible')) {
                $.ajax({
                type: "POST",
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
                },
                url: "{% url 'guess_category' %}",
                data: {'lot_name': this.value},
                success : function(result) {
                    if (result['value'] && result['value'] !== 21) {
                        $('#id_species_category').val(result['value']);
                        $('#hint_id_species_category').html("Looks like you're selling " + result['name'] + ".  <span class='text-warning'>If that's not correct, change it here.</span>");
                    }
                }
                });
            }
        }
    });
    
});
</script>
{% if new %}
<script>
var redirectLink = "/";
var ignoreAuction = null;
$(document).ready(function() {
    $.ajax({
        type: "POST",
        beforeSend: function (request) {
            request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
        },
        url: "/api/lots/new_lot_last_auction/",
        success : function(result) {
            $('#last-auction-special').html(result.result);
        }
    });
    $.ajax({
        type: "POST",
        beforeSend: function (request) {
            request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
        },
        url: "/api/users/auction_notifications/",
        success : function(result) {
        if (result.new) {
            redirectLink = result.link + "?next={% firstof request.path '/' %}";
            $('#auctionText').html("The " + result.name + " is happening now<br><small>" + result.distance + " miles from you</small>");
            $('#joinAuction').modal('show');
            ignoreAuction = result.slug;
        }
        }
    });
    document.querySelector('#join-auction').onclick = function(e) {
        isDirty = false;
        window.location = redirectLink;
        $('#joinAuction').modal('hide');
    }
    document.querySelector('#ignore-auction').onclick = function(e) {
        $('#joinAuction').modal('hide');
        $.ajax({
            type: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
            url: "/api/ignore_auction/",
            data: { 'auction': ignoreAuction },
            success : function(result) {
                console.log(result);
            }
        });
    }
});
</script>
{% endif %}
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
            {% crispy form form.helper %}
<!-- confirm bid dialog -->
<div class="modal fade" id="joinAuction" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="label">Join club auction?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id='auctionText' class="modal-body"></div>
        <div class="modal-footer">
            <button type="button" id='join-auction' class="btn btn-primary">View rules</button>
            <button type="button" id='ignore-auction' class="btn btn-secondary" data-dismiss="modal">Not interested</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}