{% load el_pagination_tags %}
{% paginate filter.qs as objects %}
<div class="container">
  <div class="row">
{% for lot in objects %}
<div class="col-sm-6 col-md-4 col-lg-3 py-2">
<div class="card border-light mb-3 h-100 mh-75" style="max-width: 22rem;">
      <div class="card-header">Lot {{ lot.lot_number }} <div style='float: right;'>{% if lot.donation %}Donation{% else %} {{ lot.user }}{% endif %}</div></div> 
      <div class="card-body">
        <h4 class="card-title">{{ lot.lot_name }}</h4>
        {% if lot.image %}
        <img class="card-img-top" src="{{ lot.image.url }}" style="max-width:100%;"></img>
        {% endif %}
        <p class="card-text">
          <span class="text-muted">{{ lot.species_category }}<br></span>
          ${{ lot.high_bid }} {% if lot.high_bidder %}{{ lot.high_bidder }}{% else %}No bids{% endif %}<br>
          {% if request.user.is_superuser %}
          Views: {{ lot.page_views }} Bid rate: {{ lot.view_to_bid_ratio|floatformat:2 }}
          {% endif %}
          {% if lot.ended %}<span style="color:red">{{ lot.calculated_end }}</span>{% else %}{{ lot.calculated_end }}{% endif %}<br>
        </p>
        <div style='position: absolute; bottom: 1em; width:80%; left: 50%;
        transform: translate(-50%);'>
          
          <a href="/lots/{{lot.lot_number}}" class="btn btn-primary" style='width:100%'>See details</a></div>
      </div>
    </div>
  </div>    
    {% endfor %}
</div>
</div>

{% show_more %}