{# this is the tabs that are shown on many preferences pages #}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'preferences'%}active{% endif %}" href="{% url 'preferences' %}">Preferences</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'contact'%}active{% endif %}" href="{% url 'contact_info' %}">Contact info</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'printing'%}active{% endif %}" href="{% url 'printing' %}">Label printing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if active_tab == 'ignore'%}active{% endif %}" href="{% url 'ignore_categories' %}">Ignore categories</a>
  </li>
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Advanced</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'change_username' %}">Change username</a></li>
        <li><a class="dropdown-item" href="/password/change/">Change password</a></li>
        <li><a class="dropdown-item" href="/email/">Change email</a></li>
        <li><a class="dropdown-item" href="/social/connections/">Sign in with Google</a></li>
        <li><a class="dropdown-item" href="/account/">My account</a></li>
      </ul>
  </li>
</ul>
