{% extends "base.html" %}
{% block title %}Terms and conditions{% endblock %}
{% block extra_js %}<script type='text/javascript'>pageView();</script>{% endblock %}
{% block content %}
        <h1>Terms and conditions for auction.fish</h1>

        <p>Use of the auction.fish website and the content contained herein (collectively referred to as "this site") is governed by the terms of this Agreement (the "agreement" or "terms and conditions") between you and auction.fish. This is a legally binding agreement and your use of this site constitutes your unconditional agreement to be bound by the terms outlined herein.  Your use of this site indicates that you have read, understand and agree to this site's terms and conditions and our <a href="/blog/privacy">privacy policy</a>.  If you do not agree with the terms and conditions of this Agreement, you must immediately cease using this site.</p>
          <h4>Content</h4>
          Lots listed on this site are submitted by users.  This site does not have control over the lots listed, and makes no guarantees about the quality of lots, accuracy of descriptions, images, or any other information regarding lots, auctions, locations, feedback, or anything else on this site.</p><p>
          This site is in no way responsible for problems, including, without limitation, issues regarding: auctions, lots, lot exchanges, shipping, or payments.  The information presented on or through this site is made available solely for general information purposes. Use of this site is at your own risk.  All content is presented "as-is" without a warranty or guarantee of any kind, and this site is not liable for any damages resulting from your visit to this site.</p>
          <h4>Availability of service</h4>
          Under no circumstances should you expect this site to be available or functional in any way.  If it goes down unexpectedly for any reason, you were warned and this site cannot be held liable.</p><p>
          This site may amend or update its <a href="/blog/privacy">privacy policy</a> and/or these terms and conditions at any time and for any reason, or for no reason. These amendments or updates will be effective immediately and your continued use of this site indicates your acceptance of and agree to these updates and amendments.</p>
          <h4>Auctions</h4>
          <p>If you choose to participate in an auction as indicated by confirming your pickup location, you are entering into a binding agreement with the person or club running the auction and understand that if you win or sell any lot(s), you will meet at your selected pickup location and exchange any lots you bought or sold.  You also agree to any auction-specific rules described by the person running the auction.</p>
          <p>If you create an auction on this site, we may or may not provide any sort of assistance with your auction, including but not limited to answering questions, adding additional features, or assisting directly with lot exchanges.  The extent of any assistance provided or not provided is at this site's sole discretion.</p>
          <h4>Bids</h4>
          Site admins will not remove or alter any bids.  The creator of an auction has the ability to remove bid(s) on any lot(s) in their auction, and may do so at their own discretion.</p><p>
          When you place a bid, you are entering into a binding agreement with the seller of the lot you are bidding on.  If your bid is the highest bid, or in the case of a tie, if your bid is placed first, you are the winner once the lot sells.  If the lot is part of an auction, the winner is obligated to meet at your selected pickup location and provide payment to the person or club running the auction.  If the lot is not part of an auction, the winner is obligated to coordinate payment in full with the seller.</p><p>
          Under no circumstances are you permitted to bid on a lot that is illegal in your state/location.</p>
          <h4>Selling</h4><p>
          You must own the rights to any pictures you post of lot(s), or have permission from the original author to post their picture as representative of your lot(s).  Any representative pictures should be representative of the actual lot being sold.</p><p>
          The description and other information of any lots you enter should be honest and accurate.</p><p>
          You must be aware of, and abide by, any state and federal laws regarding buying or selling species in your state/location.</p><p>
          If you submit lot(s) as part of an auction, you must agree to any terms and conditions specific to that auction, including the authority of the person running the auction to remove your lot(s) for any reason, or for no reason.</p><p>
          Once your lot(s) are sold, if they are part of the auction, you must deliver your lot(s)</p><p>
          "Spam" or repeated posting of items is discouraged, and posting more than 3 lots of the same species/product at any given time may result in a temporary ban from the site, and/or the removal of those lots.</p><p>
          Any lots you have submitted may be removed for any reason, or no reason, at the sole discretion of this site's administration.</p>
          <h4>User feedback</h4><p>
          It is your responsibility to provide honest and accurate feedback, both as a buyer or as a seller.  All user feedback posted on this site is done by users of this site, and this site makes no guarantees about the accuracy of this feedback.</p><p>
          <h4>Unauthorized access</h4>
          You are prohibited from violating or attempting to violate the security of this site, including, without limitation, accessing data not intended for your use or logging in using an account which you are not authorized to access.</p><p>
          <h4>Miscellaneous</h4>
          Failure to abide by these terms and conditions may result in your account being suspended from this site, temporarily or permanently.  Attempting to circumvent the suspension of your account by creating a new account may result in further actions against you, including your IP address being banned.</p><p>
          Any provision of these terms and conditions that is prohibited or unenforceable in any jurisdiction shall, as to such jurisdiction, be ineffective to the extent of such prohibition or unenforceability without invalidating the remaining provisions hereof, and any such prohibition or unenforceability in any jurisdiction shall not invalidate or render unenforceable such provision in any other jurisdiction
          <h4>Cookies</h4>
          Cookies are pieces of text that can contain information.  We use cookies every time you visit a page on this site.
          This site uses cookies to:<ul>
          <li>Manage your login “session” between pages</li>
          <li>Store your location</li>
          <li>Show ads and recommend products to you</li>
          </ul>
          <h5>Third party cookies and sites</h5>
          This site also sets cookies from the following third party sites:<ul>
          <li>Google Analytics</li>
          <li>Google Maps</li>
          <li>Google Ads</li>
          <li>Google OAuth</li>
          <li>Twitter</li>
          <li>Facebook</li>
          </ul>

          This site does not have control over these cookies or the type of information sent to third party companies.

          If you do not wish to use cookies, you may set your web browser to disallow cookies for this site or the third party sites listed above.  Here are the instructions for <a href="https://support.google.com/chrome/answer/95647">Google Chrome</a>.
{% endblock %}
