{% extends "base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% load static %}
{% block content %}
            {% if user.pk == request.user.id %}
            {% include "preferences_ribbon.html" %}
            {% endif %}
            <h4>{{ user.username }}</h4>
            <h6>Account information</h6>
            <table class="table">
                {% if request.user.is_authenticated %}
                <tr>
                  <td>Email:</td>
                  <td> {% if data.email_visible %}
                    <a href='mailto:{{ user.email }}'>{{ user.email }}</a><br>
                    {% else %}
                    This user's email address is private<br>
                    {% endif %}
                  </td>
                </tr>
                <tr>
                    <td>Joined:</td>
                    <td>{{ user.date_joined }}
                    </td>
                  </tr>
                  <tr>
                    <td>Last activity:</td>
                    <td> {{ data.last_activity }}
                    </td>
                  </tr>
                  {% else %}
                  <a href="/login/?next={% firstof request.path '/' %}">Sign in to see this user's info</a>
                  {% endif %}
                  <tr>
                    <td>Lots sold:<br>Feedback:</td>
                    <td> {{ data.lots_sold }}<br>
                        <span class='badge badge-success'>+{{ data.positive_feedback_as_seller }}</span> <span class='badge badge-danger'>-{{ data.negative_feedback_as_seller }}</span> ({{ data.percent_positive_feedback_as_seller }}% positive)
                    </td>
                  </tr>
                  <tr>
                    <td>Lots bought:<br>Feedback:<br></td>
                    <td> {{ data.lots_bought }}<br>
                        <span class='badge badge-success'>+{{ data.positive_feedback_as_winner }}</span> <span class='badge badge-danger'>-{{ data.negative_feedback_as_winner }}</span> ({{ data.percent_positive_feedback_as_winner }}% positive)
                    </td>
                  </tr>
            </table>
            {% if user.pk == request.user.id or request.user.is_superuser %}
            <h6>Only visible to you:</h6>
            <table class="table">
                <tr>
                    <td>Location:</td>
                    <td>{% if data.location %}{{ data.location }}{%else%} <a href="{% url 'contact_info' %}">Not set</a>{% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Total bids:</td>
                    <td>{{ data.total_bids }}
                    </td>
                </tr>
                <tr>
                    <td>Total views:</td>
                    <td>{{ data.lots_viewed }}
                    </td>
                </tr>
                {% if data.rank_total_sold %}<tr>
                    <td>Seller rank:</td>
                    <td>{{data.rank_total_sold}} (Top {{ data.seller_percentile }}%)
                    </td>
                </tr>{%endif%}
                {% if data.rank_volume %}<tr>
                    <td>Total volume rank:</td>
                    <td>{{data.rank_volume}} (Top {{ data.volume_percentile }}%)
                    </td>
                </tr>{%endif%}
                {% if data.percent_success %}<tr>
                    <td>Bid success:</td>
                    <td>When you bid, you win <b>{{data.percent_success|floatformat:0}}%</b> of the time.
                    </td>
                </tr>{%endif%}
            </table>
            
            <br>
            {% endif %}
            <a href='/lots/user/?user={{user.username}}' class="btn btn-primary mr-1 mt-1">View all lots from this user</a>
            <br><br><h4>Feedback</h4>
            {% if seller_feedback or winner_feedback %}
                {% if seller_feedback %}
                <h5>Comments on lots sold by this user</h5>
                {% for lot in seller_feedback %}
                    <a href="{{ lot.lot_link }}?src=userpage">{{ lot.lot_name}}</a>: {{ lot.feedback_text }} <span class='text-muted'>left by</span> <a href="{% url 'userpage' slug=lot.winner %}">{{ lot.winner }}</a><br><br>
                {% endfor %}
                {% endif %}
                {% if winner_feedback %}
                <h5>Comments on lots won by this user</h5>
                {% for lot in winner_feedback %}
                    <a href="{{ lot.lot_link }}?src=userpage">{{ lot.lot_name}}</a>: {{ lot.winner_feedback_text }} <span class='text-muted'>left by</span> <a href="{% url 'userpage' slug=lot.user %}">{{ lot.user }}</a><br><br>
                {% endfor %}
                {% endif %}
            {% else %}
                There's no comments in this user's feedback yet
            {% endif %}
            <br><br>
            {% if user.pk != request.user.id and request.user.is_authenticated %}
                {% if banned %}
                <form method="post" action="/api/users/unban/{{user.pk}}/">
                    {% csrf_token %}
                    This user has been banned from bidding on your lots and in auctions you've created.<br><button class="btn btn-primary"  name="action_unban" type="submit">Unban</button>
                </form>
                {% else %}
                <form method="post" action="/api/users/ban/{{user.pk}}/">
                    {% csrf_token %}
                    <button class="btn btn-danger"  name="action_ban" type="submit">Ban</button>
                </form>
                {% endif %}
            {% endif %}
            {% if request.user.is_superuser %}
            <a href='/admin/auth/user/{{user.pk}}/change/' class='btn btn-danger'>Admin</a>
            <br><b>Bought to sold ratio (higher is a seller):</b> {{ data.bought_to_sold|floatformat:2}}<br>
            <b>Viewed to bid ratio (lower number is a tire kicker):</b> {{ data.bid_to_view|floatformat:2}}<br>
            <b>Viewed to sold ratio (higher number indicates more selling):</b> {{ data.viewed_to_sold|floatformat:2}}<br>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <canvas id="myChart" ></canvas>
            <script>
                $.ajax({
                    url: '/api/chart/users/{{user.pk}}/',
                    success: function (data) {
                        var ctx = document.getElementById('myChart').getContext('2d');
                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: data.labels,
                                datasets: [{
                                    label: 'Views',
                                    backgroundColor: 'rgba(52, 152, 219, 0.4)',
                                    data: data.views
                                },
                                {
                                    label: 'Bids',
                                    backgroundColor: 'rgba(152, 52, 50, 0.4)',
                                    data: data.bids
                                }
                            ]
                            },
                            options: {
                                legend: {
                                    display: true
                                },
                                title: {
                                    display: true,
                                    text: 'Product interest'
                                }
                            }    
                        });
                    }
                });
            </script>
            {% endif %}
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
(function() {
  var message = "Ban this user from bidding on all your lots and auctions?";
  var actions = document.getElementsByName('action_ban');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
