{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Edit {{ user.username }} {% endblock %}
{% load static %}

{% block extra_js %}
{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md1">
            <h1>Edit {{ user.username }}</h1>
            <br><a href="/password/change/" class="btn btn-primary active">Change password</a> <a href="/email/" class="btn btn-primary active">Change email</a> <a href="/social/connections/" class="btn btn-primary active">Sign in with Google</a> <a href="/ignore/" class="btn btn-primary active">Ignore categories</a><br>
            <br>
            {% crispy form form.helper %}
            
        </div>
    </div>
</div>  

{% endblock %}


