{% extends "base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% load static %}
{% block content %}
{% block extra_js %}{% endblock %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md1">
            <h1>{{ user.username }}</h1>
            <b>Joined:</b> {{ user.date_joined }}<br>
            <b>Last login:</b> {{ user.last_login }}<br>
            <b>Lots sold:</b> {{ data.lots_sold }}<br>
            <b>Total species sold:</b> {{ data.species_sold}}<br>
            <b>Lots bought:</b> {{ data.lots_bought }}<br>
            {% if user.pk == request.user.id or user.is_superuser %}
            <b>Total spent:</b> ${{ data.total_spent|floatformat:2 }} (only visible to you)<br>
            <br><a href="/users/edit/{{user.pk}}" class="btn btn-warning active">Edit</a>
            {% endif %}
        </div>
    </div>
</div>  
{% endblock %}


