{% extends "base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-10 offset-md1">
            <h1>{{ user.username }}</h1>
            {% if data.email_visible %}
            <b>Email: </b><a href='mailto://{{ user.email }}'>{{ user.email }}</a><br>
            {% else %}
            This user's email address is private<br>
            {% endif %}
            <b>Joined:</b> {{ user.date_joined }}<br>
            <b>Last login:</b> {{ user.last_login }}<br>
            <b>Lots sold:</b> {{ data.lots_sold }}<br>
            <b>Total species sold:</b> {{ data.species_sold}}<br>
            <b>Lots bought:</b> {{ data.lots_bought }}<br>
            {% if user.pk == request.user.id or request.user.is_superuser %}
            <h4>Only visible to you:</h4>
            <b>Location:</b> {% if data.location %}{{ data.location }}{%else%} <a href='/users/edit/{{user.pk}}'>Not set</a>{% endif %}<br>
            <b>Total bids:</b> {{ data.total_bids }}<br>
            <b>Total views:</b> {{ data.lots_viewed }}<br>
            <b>Total spent:</b> ${{ data.total_spent|floatformat:2 }}<br>
            {% if data.rank_total_sold %}<b>Seller rank: </b> {{data.rank_total_sold}} (Top {{ data.seller_percentile }}%)<br>{%endif%}
            {% if data.rank_total_spent %}<b>Buyer rank: </b> {{data.rank_total_spent}} (Top {{ data.buyer_percentile }}%)<br>{%endif%}
            {% if data.rank_volume %}<b>Volume rank: </b> {{data.rank_volume}} (Top {{ data.volume_percentile }}%)<br>{%endif%}
            {% if data.percent_success %}<b>How often you win when you bid:</b> {{data.percent_success|floatformat:0}}%<br>{%endif%}
            <br><a href="/users/edit/{{user.pk}}" class="btn btn-warning active">Edit</a><br>
            {% endif %}
            {% if user.pk != request.user.id %}
                {% if banned %}
                <form method="post" action="/api/users/unban/{{user.pk}}/">
                    {% csrf_token %}
                    This user has been banned from bidding on your lots and in auctions you've created.<br><button class="btn btn-primary"  name="action_unban" type="submit">Unban</button>
                </form>
                {% else %}
                <form method="post" action="/api/users/ban/{{user.pk}}/">
                    {% csrf_token %}
                    <button class="btn btn-danger"  name="action_ban" type="submit">Ban</button>
                </form>
                {% endif %}
            {% endif %}
            <br><a href='/lots/user/?user={{user.pk}}&status=open'>View all lots from this user</a>
            {% if request.user.is_superuser %}
            <br><b>Bought to sold ratio (higher is a seller):</b> {{ data.bought_to_sold|floatformat:2}}<br>
            <b>Viewed to bid ratio (lower number is a tire kicker):</b> {{ data.bid_to_view|floatformat:2}}<br>
            <b>Viewed to sold ratio (higher number indicates more selling):</b> {{ data.viewed_to_sold|floatformat:2}}<br>
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <canvas id="myChart" ></canvas>
            <script>
                $.ajax({
                    url: '/api/chart/users/{{user.pk}}/',
                    success: function (data) {
                        var ctx = document.getElementById('myChart').getContext('2d');
                        Chart.defaults.global.defaultFontColor = "#fff";
                        new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: data.labels,
                                datasets: [{
                                    label: 'Views',
                                    backgroundColor: 'rgba(52, 152, 219, 0.4)',
                                    data: data.views
                                },
                                {
                                    label: 'Bids',
                                    backgroundColor: 'rgba(152, 52, 50, 0.4)',
                                    data: data.bids
                                }
                            ]
                            },
                            options: {
                                legend: {
                                    display: true
                                },
                                title: {
                                    display: true,
                                    text: 'Product interest'
                                }
                            }    
                        });
                    }
                });
            </script>
            {% endif %}
        </div>
    </div>
</div>  
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
(function() {
  var message = "Ban this user from bidding on all your lots and auctions?";
  var actions = document.getElementsByName('action_ban');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
