{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ lot.lot_name }} {% endblock %}
{% load static %}
{% block content %}
{% block extra_js %}
<style>
    .watched {
        color: yellow;
    }
    #watch:hover {
        color: yellow;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    window.onload = function() {
    var $ = window.jQuery;
     $( "#watch" ).click(function() {
        var data = {};
        if ( $(this).hasClass("watched") )  {
            data.watch = false;
        } else {
            data.watch = true;
        }
        $.ajax({
            type: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
            url: "/api/watchitem/{{lot.pk}}/",
            data : data,
            success : function(result) {
                if (data.watch) {
                    $("#watch").addClass("watched");
                    $("#watch").html("&#9733; Watching - you'll get an email 2 hours before bidding ends");
                } else {
                    $("#watch").removeClass("watched");
                    $("#watch").html('&#9734; Watch');
                }
            }
        });
     });
    }
</script> {% endblock %}
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-10 offset-md1">
        <h1>{{ lot.lot_number }} - {{ lot.lot_name }}</h1>
        {% if lot.image %}
        <div><img src="{{ lot.image.url }}" style="max-width:100%;"></img></div>
        <span class="text-muted">{{ lot.get_image_source_display }} </span>
        {% endif %}
        <span>
            <a href="https://www.google.com/search?q={{lot.lot_name}}&tbm=isch" target="_blank">Google image search</a>
        </span>
        <span>
            or look for this on <a href="https://www.seriouslyfish.com/search/{{lot.lot_name}}" target="_blank">Seriously Fish</a>
        </span>
        <div>{% if lot.description %}{{ lot.description }}{% endif %}</div>
        <table class="table">
            <tr>
                <td><b>Category:</b></td><td>{{ lot.species_category }}</td>
            </tr>
            <tr>
                <td><b>Quantity:</b></td><td>{{ lot.quantity }}</td>
            </tr>
            <tr>
                <td><b>Seller:</b></td><td>{{ lot.user }}</td>
            </tr>
            <tr>
                <td><b>Minimum bid:</b></td><td>${{ lot.reserve_price }}</td>
            </tr>
            <tr>
                <td><b>Current bid:</b></td><td>{% if lot.high_bidder %}${{ lot.high_bid }} {{ lot.high_bidder }}{% else %}No bids yet{% endif %}</td>
            </tr>
            <tr>
                <td><b>Ends:</b></td><td>{% if lot.ended %} <span style="color:red">{{ lot.calculated_end }}</span>{% else %}{{ lot.calculated_end }}{% endif %}</td>
            </tr>
        </table>
        {% if lot.banned %}
        <span style="color:red">This lot has been removed by an administrator</span>
        {% elif lot.user.pk == request.user.id %}
        {% if not lot.high_bidder %}
        <span><a href="/lots/edit/{{lot.pk}}" class="btn btn-warning active">Edit</a></span> {% if lot.can_be_deleted %}<span><a href="/lots/delete/{{lot.pk}}" class="btn btn-danger active">Delete</a>{% endif %}</span>
        {% else %}
        This is your lot.  You can't edit it because bids have already been placed.
        {% endif %}
        {% elif lot.ended %}
        <span>Bidding has ended on this lot</span>
        {% else %}
        {% if lot.auction %}
        This lot is part of the <b>{{ lot.auction }}</b> auction.  Please <a href='/auctions/{{lot.auction.slug}}'>view the auction's rules</a> before bidding.<br>
        {% endif %}
        {% if user.is_authenticated %}
        {% crispy form form.helper %}
        <span id="watch" {% if watched %} class="watched">&#9733; Watching{% else %}>&#9734; Watch{% endif %}</span>
        {% else %}
        <a href='/login/?next=/lots/{{lot.pk}}/'>Sign in</a> to bid on this lot.
        {% endif %}
        {% endif %}
    </div>
</div>
</div>  

{% endblock %}


