{% extends "base.html" %}
{% block title %}{{ lot.lot_name }}{% if lot.ended %} (Ended){% endif %}{% endblock %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lot.css' %}">
{% endblock %}
{% block extra_js %}

<script type="text/javascript">

$( "#buy-now" ).click(function() {
    $('#bid_amount').val(Number('{{ lot.buy_now_price }}'));    
    $('#bid_button').click();
});

function deactivate_lot() {
  var $ = window.jQuery;
  var confirmed = true;
  {% if not lot.deactivated %}
  confirmed = confirm("Remove all bids and deactivate this lot?");
  {% endif %}
    if (confirmed) {
        $.ajax({
                type: "POST",
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
                },
                url: "/api/lots/deactivate/{{lot.pk}}/",
                success : function(result) {
                    window.location.reload(true);
                }
            });
    }
}
</script>
<style>
    #watch:hover {
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    var removeDot;
    var originalTitle = "";
    window.onload = function() {
    var $ = window.jQuery;
    originalTitle = $(document).prop('title');
    // recommended lots
    {% if lot.minutes_to_end > 10 %}
    setTimeout( function() {
        $.ajax({
        type: "GET",
        url: "/api/lots/get_recommended/?qty=4&auction={{lot.auction.slug}}&keywords={{lot.lot_name|urlencode}}",
        success : function(result) {
            $("#recommendations").html(result);
        },
    });
    }, 1000);
    {% endif %}
    pageView({'lot':{{ lot.pk }} });
     // Logic for watching lots
     $( "#watch" ).click(function() {
        var data = {};
        if ( $(this).hasClass("watched") )  {
            data.watch = false;
        } else {
            data.watch = true;
        }
        $.ajax({
            type: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
            url: "/api/watchitem/{{lot.pk}}/",
            data : data,
            success : function(result) {
                if (data.watch) {
                    $("#watch").addClass("watched text-warning");
                    $("#watch").html("&#9733; Watching{% if not lot.auction or lot.auction.is_online %} - you'll get an email 2 hours before bidding ends{% endif %}");
                } else {
                    $("#watch").removeClass("watched text-warning");
                    $("#watch").html('&#9734; Watch');
                }
            }
        });
     });
    }
    function rotate(pk, angle) {
        var data = {};
        data.pk = pk;
        data.angle = angle;
        $.ajax({
            type: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
            url: "/api/images/rotate/",
            data : data,
            success : function(result) {
                if (result == "Success") {
                    location.reload();
                }
            }
        });
    }
    function make_primary(pk) {
        var data = {};
        data.pk = pk;
        $.ajax({
            type: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
            url: "/api/images/primary/",
            data : data,
            success : function(result) {
                if (result == "Success") {
                    location.reload();
                }
            }
        });
    }
    (function(b){b.toast=function(a,h,g,l,k){b("#toast-container").length||(b("body").prepend('<div id="toast-container" aria-live="polite" aria-atomic="true"></div>'),b("#toast-container").append('<div id="toast-wrapper"></div>'));var c="",d="",e="text-muted",f="",m="object"===typeof a?a.title||"":a||"Notice!";h="object"===typeof a?a.subtitle||"":h||"";g="object"===typeof a?a.content||"":g||"";k="object"===typeof a?a.delay||3E3:k||3E3;switch("object"===typeof a?a.type||"":l||"info"){case "info":c="bg-info";
f=e=d="text-white";break;case "success":c="bg-success";f=e=d="text-white";break;case "warning":case "warn":c="bg-warning";f=e=d="text-white";break;case "error":case "danger":c="bg-danger",f=e=d="text-white"}a='<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="'+k+'">'+('<div class="toast-header '+c+" "+d+'">')+('<strong class="mr-auto">'+m+"</strong>");a+='<small class="'+e+'">'+h+"</small>";a+='<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">';
a+='<span aria-hidden="true" class="'+f+'">&times;</span>';a+="</button>";a+="</div>";""!==g&&(a+='<div class="toast-body">',a+=g,a+="</div>");a+="</div>";b("#toast-wrapper").append(a);b("#toast-wrapper .toast:last").toast("show")}})(jQuery);

</script> {% endblock %}
{% block undiv_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-1 col-xl-8">
<div class="container mt-5 mb-5">
    <div class="row">
    <div class="col-md-10 offset-md1">
        <h3>{{ lot.lot_name }}</h3>
            {{ lot.species_category }}{% if lot.category_automatically_added and lot.can_be_edited and lot.user == request.user %}<span class="badge bg-secondary">Cateogry automatically set.  Wrong?  <a href="/lots/edit/{{lot.pk}}">Fix it here</a></span><br>{% else %}, {% endif %}lot number {{lot.lot_number_display }}<br>
            {% if lot.i_bred_this_fish %}<span class="badge text-dark bg-light">Bred by this user</span>{%endif%}
            {% if lot.pre_registered and lot.user == request.user %}<span class="badge text-dark bg-light" data-toggle="tooltip" data-placement="bottom" title="You'll get a {{ lot.auction.pre_register_lot_discount_percent }}% discount on your selling fees for this lot">Pre-registered</span>{%endif%}
            {% if lot.image_count or lot.video_link %}
            <div>
                <div id="image_carousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% if lot.video_link %}
                        <div class="carousel-item active">
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/{{ lot.video_link }}" 
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        allowfullscreen></iframe>
                            </div>
                        </div>
                        {% endif %}
                        {% for image in lot.images %}
                        <div class="carousel-item {% if image.is_primary and not lot.video_link %}active{%endif%}">
                            <img src="{{ image.image.url }}" class="img-fluid rounded">
                            <div class='carousel-caption text-light text-left'>
                                <span class="text-muted"><small>{{ image.get_image_source_display }}</small></span>{%if image.caption%}<br>{{ image.caption }}{%endif%}
                            </div>
                                {% if show_image_add_button %}
                                <div class="container">
                                    <div class='row mb-3'>
                                        <div class="col-auto">
                                            <button class="btn btn-primary" name="rotate-left" onclick="rotate('{{image.pk}}', 90)">Rotate ↶</button>
                                        </div>
                                        {% if not image.is_primary %}
                                        <div class="col-auto">
                                            <button class="btn btn-info" name="make-primary" onclick="make_primary('{{image.pk}}')">Make primary</button>
                                        </div>
                                        {% endif %}
                                        <div class="col-auto">
                                            <a href="{% url 'edit_image' pk=image.pk %}" class="btn text-dark bg-warning">Edit image</a>
                                        </div>
                                        <div class="col-auto">
                                            <a href="{% url 'delete_image' pk=image.pk %}" class="btn btn-danger">Delete image</a>
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-primary" name="rotate-right" onclick="rotate('{{image.pk}}', -90)">Rotate ↷</button>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% if lot.multimedia_count > 1 %}
                <div class="d-flex">
                    {% if lot.video_link %}
                    <button data-bs-target="#image_carousel" data-bs-slide-to="0" class="me-2 active thumbnail">
                            <img style="min-width: 100px;" src="{% static 'youtube.png' %}" class="rounded">
                    </button>  
                    {% endif %}                  
                    {% for image in lot.images %}
                    <a href="#" data-bs-target="#image_carousel" data-bs-slide-to="{% if lot.video_link %}{{ forloop.counter }}{% else %}{{ forloop.counter0 }}{% endif %}"  class="me-2 {% if image.is_primary and not lot.video_link %}active{% endif %}">
                        <img style="min-width: 100px;" src="{{ image.image.lot_list.url }}" class="rounded">
                    </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>            
            {% else %}
                {% if lot.user == request.user %}
                <div>You haven't added any images to this lot yet.  <a href="/blog/whats-a-picture-worth/" target="_blank">Lots with images are more likely to sell</a></div>
                {% endif %}
            {% endif %}
            {% if show_image_add_button %}
            <a href="{% url 'add_image' lot=lot.lot_number %}" class="btn btn-primary">Add image</a><br>
            {% endif %}
        <br>
        {% if lot.description %}<div class="jumbotron">{{ lot.description_rendered | safe }}</div>{% endif %}
            <a href="{{lot.reference_link}}">More information from {{lot.reference_link_domain}}</a>
        <table class="table">
            <tr>
                <td><b>Quantity:</b></td><td>{{ lot.quantity }}</td>
            </tr>
            <tr>
                <td><b>Seller:</b></td><td>{% if lot.donation %} A donation from {% endif %}{% if lot.user %}<a href="{% url 'userpage' slug=lot.user %}">{{ lot.user }}</a> (<a href="/lots/user/?user={{lot.user}}">All lots from {{ lot.user }}</a>){% if not lot.auction %}
                    <span class='badge text-dark bg-light'>Lots sold: {{ lot.user.userdata.lots_sold }}</span> <span class='badge text-dark bg-success'>+{{ lot.user.userdata.positive_feedback_as_seller }}</span> <span class='badge bg-danger'>-{{ lot.user.userdata.negative_feedback_as_seller }}</span>
                    {% endif %}{% else %}{{lot.auctiontos_seller}}{% endif %}</td>
            </tr>
            <tr>
                <td><b>
                    <span id="price_label">{% if lot.sold or lot.ended %}
                        Winner:
                        {% else %}
                            {% if lot.sealed_bid %}
                            Sealed bid auction
                            {% else %}
                            {% if lot.high_bidder %}
                                Current bid:
                            {% else %}
                                Reserve price:
                            {% endif %}
                            {% endif %}
                        {% endif %}
                    </span></b></td>
                    <td>
                    {% if lot.sold %}
                        $<span id="price">{{lot.winning_price}}</span> <span id="high_bidder_name">{% if lot.winner %}
                            {% if lot.winner.userdata.username_visible %}
                                <a href="{% url 'userpage' slug=lot.winner %}">{{ lot.winner }}</a>
                            {% else %}
                                Anonymous
                            {% endif %}
                            {% else %}
                                Bidder: {{ lot.auctiontos_winner }}
                            {% endif %}</span>
                    {% else %}
                        {% if lot.ended %}
                            Not sold
                        {% else %}
                            {% if lot.sealed_bid %}
                            You can't see how much others have bid
                            {% else %}
                                {% if lot.high_bidder %}
                                <span>
                                    $<span id="price">{{ lot.high_bid }}</span>
                                    {% if lot.high_bidder.pk == request.user.id %}
                                    <span id="high_bidder_name"> - you're winning!</span>
                                    {% else %}
                                    <span id="high_bidder_name">{% if lot.high_bidder.userdata.username_visible %}<a href="{% url 'userpage' slug=lot.high_bidder %}">{{ lot.high_bidder }}</a>{% else %}Anonymous{%endif%}</span>
                                    {% endif %}
                                    <span id="your_bid">{% if viewer_bid %}Your max bid is $<span id='your_bid_price'>{{ viewer_bid }}</span>{% endif %}</span>
                                </span>
                                {% else %}
                                    $<span id="price">{{ lot.reserve_price }} {% if lot.buy_now_price and not lot.bidding_error %}<button type="button" class='btn btn-sm btn-info' id="buy-now">Buy now: ${{lot.buy_now_price}}</button>{% endif %}</span> <span id="high_bidder_name"></span><span id="your_bid"></span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </td>
            </tr>
            {% if not lot.auction %}
            <tr>
                <td><b>Distance from you:</b></td><td>{{ distance }} {% if lot.local_pickup %}<span class="badge text-dark bg-light">Local pickup available</span>{% endif %}
                    {% if request.user.userdata.location in lot.shipping_locations.all %}
                    <span class="badge bg-light">Ships to {{ request.user.userdata.location }}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>Payment:</b></td><td>
                    {% if lot.payment_other_method %}{{ lot.payment_other_method }}{% endif %} 
                    {% if lot.payment_paypal %}<span class="badge text-dark bg-light">Paypal OK</span>{% endif %} 
                    {% if lot.payment_cash %}<span class="badge text-dark bg-light">Cash OK</span>{% endif %}
                </td>
            </tr>
            {% if lot.other_text %}
            <tr>
                <td><b>Shipping notes:</b></td><td>{{ lot.other_text }} </td>
            </tr>
            {% endif %}
            {% endif %}

            <tr>
                <td><b>Ends:</b></td><td><span id="end_date" class="{% if lot.ended %} {% endif %}">{{ lot.calculated_end_for_templates }}</span>{% if lot.ended %}<span class='badge-pill badge bg-danger'>Ended</span>{% endif %}</td>
            </tr>
            
            {% if lot.auction and lot.auction.multi_location and lot.location %}
            <tr>
                <td><b>Location:</b></td><td>{{ lot.location }}
                    {% if user_tos_location and user_tos_location != lot.location_as_object %}
                        <small class='text-muted'>Delivered to {{ user_tos_location }} at {{ user_tos_location.second_pickup_time|default:user_tos_location.pickup_time }}.</small>
                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% if not lot.transportable %}
            <tr>
                <td><b>Not transportable</b></td><td>This lot can only be picked up at its location, we won't deliver it to other pickup locations</td>
            </tr>
            {% endif %}
            {% if not lot.sealed_bid %}
            <tr>
                <td><b>Views:</b></td><td>{{ lot.page_views }} views{% if lot.number_of_watchers %}, {{lot.number_of_watchers}} watching{%endif%}</td>
            </tr>
            {% endif %}
        </table>
        
        {% if lot.user == request.user %}<a href="/lots/new/?copy={{lot.pk}}" class="btn btn-info">Copy to new lot</a>{% endif %}
        {% if not lot.auction %}
            {% if request.user.is_authenticated %}
                {% if lot.user == request.user or request.user.is_superuser %}
                <button class="btn btn-primary" name="action_deactivate" onclick="deactivate_lot()">{% if lot.deactivated %}Reactivate{% else %}Deactivate this lot{% endif %}</button>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if showExchangeInfo %}
        <a name="exchangeinfo"></a>
        <h5>Exchange info</h5>
        <table class="table">
            <tr>
                <td><b>Seller:</b><br></td><td>{% if is_auction_admin %}<a href="#" hx-get="/api/auctiontos/{{lot.auctiontos_seller.pk}}"
                    hx-target="#modals-here" hx-trigger="click">{{ lot.seller_name }}</a> {% else %} {{ lot.seller_name }} {% endif %}({{ lot.seller_email | urlize }})<br> <small>{{ lot.location }}</small> <a href="{{ lot.seller_invoice_link }}">Seller's invoice</a></td>
            </tr>
            <tr>
                <td><b>Winner:</b></td><td>{% if is_auction_admin %}<a href="#" hx-get="/api/auctiontos/{{lot.auctiontos_winner.pk}}"
                    hx-target="#modals-here" hx-trigger="click">{{ lot.winner_name }}</a> {% else %} {{ lot.winner_name }} {% endif %} ({{ lot.winner_email | urlize }})<br><small>{{ lot.winner_location }}</small> <a href="{{ lot.winner_invoice_link }}">Winner's invoice</a></td>
            </tr>
        </table>
        {% endif %}
        {% if request.user.is_authenticated and lot.user.pk == request.user.id %}
            <a
            {% if lot.can_be_edited %}
            href="{% url 'edit_lot' pk=lot.pk %}"
            {% else %}
            href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="{{ lot.cannot_edit_reason }}"
            {% endif %}
            class="text-dark btn btn-warning">Edit lot</a>
            <a
            {% if lot.can_be_deleted %}
            href="{% url 'delete_lot' pk=lot.pk %}"
            {% else %}
            href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="{{ lot.cannot_be_deleted_reason }}"
            {% endif %}
            class="btn btn-danger">Delete</a>
        {% endif %}
        <span id="bid_area">
                {% if lot.bidding_error %}
                    <div class='jumbotron font-weight-bold'>{{ lot.bidding_error }}</div>
                {% elif lot.ended or lot.winner %}
                    <span>Bidding has ended on this lot<br></span>
                {% else %}
                <div class="form-group">
                    <div class="row mb-3 justify-content-center justify-content-lg-start">
                        <div class="col-auto">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">$</span>
                                </div>
                                <input type="number" id='bid_amount' min="1" value="{{ amount }}" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <div class="input-group-append">
                                    <span class="input-group-text">.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class='btn btn-success' id='bid_button' style='min-width: 150px;'>Place bid</button>
                        </div>
                    </div>
                    <div class="invalid-feedback">Enter a number</div>
                </div>
                            {% if not lot.auction %}Remember to check the seller's feedback before bidding.  This site will not get involved in disputes.<br>{%endif%}
                            <script>
                                //$('#bid_amount').focus(); // scrolls page down
                                document.querySelector('#bid_amount').onkeyup = function(e) {
                                    if (e.keyCode === 13) {
                                        document.querySelector('#bid_button').click();
                                    }
                                };
                                document.querySelector('#bid_button').onclick = function(e) {
                                    {% if user_specific_bidding_error %}
                                    $('#bidError').modal('show');
                                    {% else %}
                                    var bid = Number($('#bid_amount').val());
                                    if (isNaN(bid) || bid == 0) {
                                        $('#bid_amount').addClass('is-invalid');
                                    } else {
                                        $('#bid_amount').removeClass('is-invalid');
                                        $('#confirmBid').modal('show');
                                        $('#confirmDialgoText').html("Bid $" + bid + " on {{ lot.lot_name }}<br><small>All bids are final</small>");
                                        document.querySelector('#finalize-bid').onclick = function(e) {
                                            lotWebSocket.send(JSON.stringify({
                                                'bid': bid
                                            }));
                                            //$('#bid_amount').val(Number(bid) + 1);
                                            var your_bid = Number($('#your_bid_price').html());
                                            var price = Number($('#price').html());
                                            if (bid > your_bid) {
                                                $('#your_bid').html('Your max bid is $<span id="your_bid_price">' + bid + "</span>");
                                            }
                                            if (bid > price) {
                                                $('#bid_amount').val(bid + 1);
                                            }
                                            $('#confirmBid').modal('hide');
                                            $('#confirmDialgoText').html("Enter an amount");
                                        }
                                    }
                                    {% endif %}
                                };
                            </script>
                {% endif %}
        </span>
        {% if request.user.is_authenticated %}
            {% if is_auction_admin %}
            <button class="btn btn-primary me-2" hx-get="{% url 'auctionlotadmin' pk=lot.pk %}",
                hx-target="#modals-here",
                hx-trigger="click",
                _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Manage this lot</button>
            <button class="btn btn-primary me-2" hx-get="{% url 'lot_refund' pk=lot.pk %}",
                hx-target="#modals-here",
                hx-trigger="click",
                _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop">Remove or refund</button>
            {% endif %}
            {% if is_auction_admin or lot.user.pk == request.user.pk%}
            <a class="btn btn-primary me-2" href="{% url 'single_lot_label' pk=lot.pk %}">{% if lot.label_printed%}Reprint label{% else %}Print label{% endif %}</button>
            {% endif %}
        {% endif %}
        {% if request.user.is_superuser %}
            <a href="/admin/auctions/lot/{{lot.pk}}/change/" class="btn btn-danger">Admin</a>
            Promo weight: {{lot.promotion_weight}}
        {% endif %}
        {% if request.user.is_authenticated %}
            <span id="watch" {% if watched %} class="watched text-warning">&#9733; Watching{% else %}>&#9734; Watch{% endif %}</span><br>
        {% endif %}
        
        
    {% if bids %}
        <h5>Remove bids</h5>
        {% for bid in bids %}
        <a href="/bids/delete/{{ bid.pk }}/" class='btn btn-danger mt-1 mr-1'>Remove {{bid.user.first_name}} {{bid.user.last_name}} ({{ bid.user }})'s bid</a><br>
        {% endfor %}
    {% endif %}

    </div>
  </div>
</div>  
</div>

<!-- confirm bid dialog -->
<div class="modal fade" id="confirmBid" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="label">Confirm bid</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id='confirmDialgoText' class="modal-body">Enter an amount</div>
        <div class="modal-footer">
            <button type="button" id='finalize-bid' class="btn btn-success">Place bid</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
</div>
<!-- bid error dialog -->
<div class="modal fade" id="bidError" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header bg-danger">
            <h5 class="modal-title" id="label">Bid failed!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id='confirmDialgoText' class="modal-body">
            {% if not user.is_authenticated %}
                You have to <a href='/login/?next={{ lot.lot_link }}'>sign in</a> to place bids.
            {% elif not user_tos %}
                This lot is part of <b>{{ lot.auction }}</b>.  Please <a href='/auctions/{{lot.auction.slug}}/?next=/lots/{{ lot.pk }}/#join'>read the auction's rules and confirm your pickup location</a> to bid<br>
            {% elif lot.user.pk == request.user.id %} You can't bid on your own lot.
            {% else %}
            An unknown error occurred.
            {% endif %}
        </div>
        <div class="modal-footer">
            {% if not user.is_authenticated %}
            <a href="/login/?next={{ lot.lot_link }}" role="button" class="btn btn-primary">Sign in</a>
            <a href="/signup/?next={{ lot.lot_link }}" role="button" class="btn btn-primary">Create an account</a>
            {% elif not user_tos %}
            <a href="/auctions/{{lot.auction.slug}}/?next={{ lot.lot_link }}#join" role="button" class="btn btn-primary">Read auction rules</a>
            {% endif %}
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
        </div>
    </div>
</div>
<!-- Chat -->
<div class="container-fluid col-md-offset-1 col-xl-4 mt-1 mb-1 mt-xl-5">
    {% if request.user.is_authenticated %} {# chats only shown if you are logged in #}
    <div class="col-md-11 bg-secondary rounded pb-1 border border-secondary bg-gradient" style="box-shadow: 5px 5px 8px 2px rgba(121, 121, 121, 0.2);">
        <div class="mt-3 ms-3 mb-2 ms-2 ">
    <h4>Chat</h4>
    <div class="panel" id="chat" style='min-height: 100px; max-height: 30vh; {# calc(100vh - 200px) #}
    overflow-y: scroll;'></div>
    <span id="send_chat_area" class='' >
    {% if request.user.is_authenticated and lot.chat_allowed %}
    <div class="input-group mt-1 mb-3 ">
        <input class="form-control form-control-sm mr-1 " id='chat_input' spellcheck="true" placeholder="Ask questions or comment on this lot.  Be respectful." type="text">
        <div class="input-group-append">
            <button class='btn btn-sm bg-info' id="chat_send" >Send</button>
        </div>
    </div>

    {% if show_chat_subscriptions_checkbox %}
    <small><div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="chat_subscribe_checkbox" {% if chat_subscriptions_is_checked %}checked=""{% endif %}>
        <label class="custom-control-label" for="chat_subscribe_checkbox">Email me when new chat messages are posted</label>
      </div></small>
      {% else %}You've turned off email notifications for replies in your <a href="{% url 'preferences' %}">preferences</a>{% endif %}
    {% endif %}

    </span>
    <script>
        var autocheck_chat_subscriptions = {{ autocheck_chat_subscriptions}};
        {% if lot.sealed_bid %}
        var high_bidder = '';
        var high_bidder_pk = '{{ request.user.pk }}';
        {% else %}
        var high_bidder = '{{ lot.high_bidder_display }}';
        var high_bidder_pk = '{{ lot.high_bidder.pk }}';
        {% endif %}
        var viewer_bid = '{{ lot.viewer_bid }}';
        var ws_protocol = (window.location.protocol === 'https:') ? 'wss://' : 'ws://'
        const lotWebSocket = new WebSocket(
            ws_protocol
            + window.location.host
            + '/ws/lots/{{ lot.lot_number }}/'
        );

        lotWebSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.current_high_bid) {
                $("#price").html(data.current_high_bid);
                $(document).prop('title', '🔴$' + data.current_high_bid + ": " + originalTitle);
                clearTimeout(removeDot);
                var removeDot = setTimeout(function(){$(document).prop('title', '$' + data.current_high_bid + ": " + originalTitle);}, 500);
                //$("#bid_amount").val(data.current_high_bid + 1);
                if (!$("#bid_amount").is(":focus")) {
                    if (data.info !== "INFO") {
                        if (Number($("#bid_amount").val()) <= data.current_high_bid) {
                            $("#bid_amount").val(data.current_high_bid + 1);
                        }
                    }
                }
            }
            if (data.high_bidder_pk) {
                $('#high_bidder_name').html(data.high_bidder_name);
                $('#price_label').html("Current bid:");
            }
            var messageClass = "warning";
            if (data.high_bidder_pk) {
                if (high_bidder_pk == "{{ request.user.pk }}") {
                    if (data.high_bidder_pk != '{{ request.user.pk }}') {
                        messageClass = 'danger';
                    }
                } else {
                    if (data.high_bidder_pk == '{{ request.user.pk }}') {
                        messageClass = 'success';
                    }
                }
                high_bidder_pk = data.high_bidder_pk;
            }
            if (data.info == "CHAT") {
                addChat(data.pk, data.username, data.message);
            } else {
                if (data.date_end) {
                    var date_end = new Date(data.date_end);
                    // $('#end_date').html("<span class='text-danger>" + date_end.toLocaleString("en-US", {timeZone: "{{user_timezone}}"}) + "</span>");
                    $('#end_date').html(date_end.toLocaleTimeString('en-US', { hour12: true }));
                }
                if (data.error) {
                    messageClass = "danger";
                    data.message = data.error;
                } else if (data.info == "INFO") {
                    messageClass = "info";
                } else {
                    // non-info, non-error messages are public and added to the chat
                    addChat(-1, "System", data.message);
                }
                if (data.info == "LOT_END_WINNER") {
                    $('#price_label').html("Winner:");
                    $('#end_date').html("Ended");
                    $('#bid_area').html("Bidding has ended on this lot<br>");
                }
                $.toast({
                    title: data.message,
                    type: messageClass,
                    delay: 10000
                });
            }
        };
        function addChat(pk, username, message) {
            message = message.replace(/</g, "&lt;").replace(/>/g, "&gt;");
            var urlRegex = /(?:(?:https?|ftp|file):\/\/|www\.|ftp\.|auction\.)(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[-A-Z0-9+&@#\/%=~_|$?!:,.])*(?:\([-A-Z0-9+&@#\/%=~_|$?!:,.]*\)|[A-Z0-9+&@#\/%=~_|$])/igm
            message =  message.replace(urlRegex, function(url) {
                return '<a style="color: #555; font-weight: bold;" href="' + url + '">' + url + '</a>';
            })
            var lastChat = $(".message").last();
            if (lastChat.hasClass("user_" + pk)) {
                lastChat.append("<br>" + message);
            } else {
                var cssStyle = "";
                if (pk == -1) {
                    cssStyle = "chat-system";
                } else if (pk == '{{ viewer_pk }}') {
                    cssStyle = "chat-me";
                } else if (pk == '{{ submitter_pk }}') {
                    cssStyle = "chat-submitter";
                }
                var chatHtml = '<div class="chat ' + cssStyle + '">\
                                    <div class="chat-body">\
                                        <div class="chat-content">\
                                            <small><span class="chat-username">' + username + '</span></small>\
                                            <span class="message user_' + pk + ' ">'+ message+ '</span>\
                                        </div>\
                                    </div>\
                                </div>';
                $('#chat').append(chatHtml);
            }
            showLatestChat();
        }
        // lotWebSocket.onclose = function(e) {
        //     var errorHtml = '<span class="mr-1 mt-1 text-danger">Connection lost</span>\
        //     <input id="reconnect_button" onclick="window.location.reload(true);"\
        //     type="button" class="col-md-2 mr-1 mt-1 btn-sm btn-danger" value="Reconnect"><br>';
        //     $('#send_chat_area').html(errorHtml);
        //     $('#bid_area').html(errorHtml);
        //     $.toast({
        //         title: 'Connection lost',
        //         type: 'error',
        //         delay: 10000
        //     });
        // };

        function showLatestChat() {
            var objDiv = document.getElementById("chat");
            objDiv.scrollTop = objDiv.scrollHeight;
        }
        //{% if request.user.is_authenticated and lot.chat_allowed %}
        document.querySelector('#chat_input').onkeyup = function(e) {
            if (e.keyCode === 13) {
                document.querySelector('#chat_send').click();
            }
        };
        document.querySelector('#chat_send').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat_input');
            const message = messageInputDom.value;
            if (message) {
                lotWebSocket.send(JSON.stringify({
                    'message': message
                }));
            }
            messageInputDom.value = '';
            {% if show_chat_subscriptions_checkbox %}
            if (autocheck_chat_subscriptions) {
                document.querySelector('#chat_subscribe_checkbox').checked = true;
                chat_subscribe(true);
            }
            {% endif %}
        };
        {% if show_chat_subscriptions_checkbox %}
        document.querySelector('#chat_subscribe_checkbox').addEventListener('change', function(event) {
            chat_subscribe(event.target.checked);
        });
        function chat_subscribe(val) {
            autocheck_chat_subscriptions = false;
            $.ajax({
                type: "POST",
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
                },
                url: "{% url 'lot_chat_subscribe' %}",
                data: {'lot':{{ lot.pk }}, 'unsubscribed': !val},
                success : function(result) {}});
        }
        {% endif %}
        //{% endif %}
    </script>
    </div>
    </div>
    {% endif %}
<!-- Chart -->
{% if request.user.is_superuser %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<canvas id="myChart" ></canvas>
<span class="text-muted">Total views: {{lot.page_views }} ({{ lot.anonymous_views }} anyonymous views not shown)</span>
<script>
    $.ajax({
        url: '/api/chart/lots/{{lot.pk}}/',
        success: function (data) {
            var ctx = document.getElementById('myChart').getContext('2d');
            new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: data.labels,
                    datasets: [{
                    label: 'View time',
                    backgroundColor: 'rgba(52, 152, 219, 0.4)',
                    data: data.data
                    }]
                },
                options: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'User view durations (seconds) of this lot'
                    }
                }    
            });
        }
    });
</script>
{% endif %}
    {% if lot.minutes_to_end > 10 or not lot.minutes_to_end %}
    {% include "ad.html" %}
    {% endif %}
</div>
</div>
<!-- Recommended lots -->
{% if lot.minutes_to_end > 10 %}
<div class="mt-1"><span class="text-muted">Other lots you might be interested in:</span>
<span id='recommendations'>Searching for recommended lots...</span>
{% endif %}
{% if lot.auction %}
    <br><a href='{{lot.auction.view_lot_link}}'>View all lots for {{ lot.auction }}</a><br>
{% endif %}
</div>
{% endblock %}