{% if lot %}
<div class="container mt-4">
    <div class="row">
        {% if lot.image_count %}
            <div class="col-md-6 offset-md1">
                {% if lot.image_count %}
                    {% for image in lot.images|slice:":1" %}
                    {% if lot.sold %}<h1 class='text-danger font-weight-bold' style="position: absolute;-ms-transform: rotate(-20deg);transform: rotate(-20deg);">SOLD</h1>{% endif %}
                    <img src="{{ image.image.url }}" class="img-fluid">
                    <span class="text-muted"><small>{{ image.get_image_source_display }}</small></span>{%if image.caption%}<div>{{ image.caption }}</div>{%endif%}
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        <div class="col-md-6 offset-md1">
            <h3>{{ lot.lot_name }}</h3>
            <b>Quantity:</b> {{ lot.quantity }}<br>
            {% if lot.reserve_price > lot.auction.minimum_bid %}<b>Reserve price:</b> ${{ lot.reserve_price }}<br>{% endif %}
            {% if lot.auction.allow_bidding_on_lots %}<b>Max online bid:</b> {{ lot.high_bidder_for_admins }} ${{ lot.high_bid }}{% endif %}<br>
            {% if lot.description %}<div class="jumbotron">{{ lot.description_rendered | safe }}</div>{% endif %}
        </div>
    </div>
</div>
{% endif %}