{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} {{ lot.lot_name }} {% endblock %}
{% load static %}
{% block content %}
{% block extra_js %}
<script type="text/javascript">
function ban_lot(ban) {
  var $ = window.jQuery;
  var data = {};
  if (ban == 'unban') {
    data.banned = ""
  } else {
      data.banned = prompt("Enter the reason for this ban", "This lot has been removed by the auction owner");
  }
  $.ajax({
        type: "POST",
        beforeSend: function (request) {
            request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
        },
        url: "/api/lots/ban/{{lot.pk}}/",
        data : data,
        success : function(result) {
            window.location.reload(true);
        }
    });
}
</script>
<style>
    .watched {
        color: yellow;
    }
    #watch:hover {
        color: yellow;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    window.onload = function() {
    var $ = window.jQuery;
    pageView();
    setInterval(function(){ pageViewUpdate(); }, 10000);
    function pageView() {
        $.ajax({
            type: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
            url: "/api/pageview/{{lot.pk}}/new/",
        });
    }
    function pageViewUpdate() {
        if ( !document.hidden ) {
            $.ajax({
                type: "POST",
                beforeSend: function (request) {
                    request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
                },
                url: "/api/pageview/{{lot.pk}}/",
            });
        }
    }
     // Logic for watching lots
     $( "#watch" ).click(function() {
        var data = {};
        if ( $(this).hasClass("watched") )  {
            data.watch = false;
        } else {
            data.watch = true;
        }
        $.ajax({
            type: "POST",
            beforeSend: function (request) {
                request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
            },
            url: "/api/watchitem/{{lot.pk}}/",
            data : data,
            success : function(result) {
                if (data.watch) {
                    $("#watch").addClass("watched");
                    $("#watch").html("&#9733; Watching - you'll get an email 2 hours before bidding ends");
                } else {
                    $("#watch").removeClass("watched");
                    $("#watch").html('&#9734; Watch');
                }
            }
        });
     });
    }
</script> {% endblock %}
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-10 offset-md1">
        <h1>{{ lot.lot_number }} - {{ lot.lot_name }}</h1>
        {% if lot.image %}
        <div><img src="{{ lot.image.url }}" style="max-width:100%;"></img></div>
        <span class="text-muted">{{ lot.get_image_source_display }} </span>
        {% endif %}
        <span>
            <a href="https://www.google.com/search?q={{lot.lot_name}}&tbm=isch" target="_blank">Google image search</a>
        </span>
        <span>
            or look for this on <a href="https://www.seriouslyfish.com/search/{{lot.lot_name}}" target="_blank">Seriously Fish</a>
        </span>
        <div>{% if lot.description %}{{ lot.description }}{% endif %}</div>
        <table class="table">
            <tr>
                <td><b>Category:</b></td><td>{{ lot.species_category }}</td>
            </tr>
            <tr>
                <td><b>Quantity:</b></td><td>{{ lot.quantity }}</td>
            </tr>
            <tr>
                <td><b>Seller:</b></td><td>{% if lot.donation %} A donation from {% endif %}<a href='/users/{{ lot.user.pk }}/'>{{ lot.user }}</a></td>
            </tr>
            <tr>
                <td><b>
                    {% if lot.ended %}
                        Won by:
                    {% else %}
                        {% if lot.high_bidder %}
                            Current bid:
                        {% else %}
                            Reserve price:
                        {% endif %}
                    {% endif %}</b></td>
                    <td>
                    {% if lot.winner %}
                        ${{lot.winning_price}} <a href='/users/{{ lot.winner.pk }}/'>{{ lot.winner }}</a>
                    {% else %}
                        {% if lot.ended %}
                            Not sold
                        {% else %}
                            {% if lot.high_bidder %}
                                ${{ lot.high_bid }}
                                {% if lot.high_bidder.pk == request.user.id %}
                                    - you're winning!  Your max bid is ${{ lot.max_bid }}
                                {% else %}
                                    <a href='/users/{{ lot.high_bidder.pk }}/'>{{ lot.high_bidder }}</a>
                                {% endif %}
                            {% else %}
                                ${{ lot.reserve_price }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </td>
            </tr>
            <tr>
                <td><b>Ends:</b></td><td>{% if lot.ended %} <span style="color:red">{{ lot.calculated_end }}</span>{% else %}{{ lot.calculated_end }}{% endif %}</td>
            </tr>
            {% if lot.location %}
            <tr>
                <td><b>Location:</b></td><td>{% if user_location.pk != lot.location.pk %} <span style="color:red">{{ lot.location }} </span> {% else %} {{ lot.location }} {% endif %}</td>
            </tr>
            {% endif %}
            {% if not lot.transportable %}
            <tr>
                <td><b>Not transportable</b></td><td>This lot can only be picked up at its location, we won't deliver it to the other pickup location</td>
            </tr>
            {% endif %}
            <tr>
                <td><b>Views:</b></td><td>{{ lot.page_views }} views{% if lot.number_of_watchers %}, {{lot.number_of_watchers}} watching{%endif%}</td>
            </tr>
        </table>
        {% if lot.banned %}
        <span style="color:red">This lot has been removed by the owner of this auction</span>
        {% elif lot.user.pk == request.user.id or request.user.is_superuser%}
        {% if not lot.high_bidder %}
        <a href="/lots/edit/{{lot.pk}}" class="btn btn-warning active">Edit</a></span> {% if lot.can_be_deleted %}<span><a href="/lots/delete/{{lot.pk}}" class="btn btn-danger active">Delete</a>{% endif %}
        {% else %}
        {% if lot.user.pk == request.user.id%}This is your lot.  {% endif %}You can't edit this, because bids have already been placed.
        {% endif %}
        {% if request.user.is_superuser %}
        <a href="/admin/auctions/lot/{{lot.pk}}/change/" class="btn btn-danger active">Admin</a>
        {% endif %}
        {% elif lot.ended %}
        <span>Bidding has ended on this lot</span>
        {% else %}
        {% if lot.auction %}
        This lot is part of the <b>{{ lot.auction }}</b> auction.  Please <a href='/auctions/{{lot.auction.slug}}'>view the auction's rules</a> before bidding.<br>
        {% endif %}
        {% if user.is_authenticated %}
        {% crispy form form.helper %}
        <span id="watch" {% if watched %} class="watched">&#9733; Watching{% else %}>&#9734; Watch{% endif %}</span>
        {% else %}
        <a href='/login/?next=/lots/{{lot.pk}}/'>Sign in</a> to bid on this lot.
        {% endif %}
        {% endif %}
        {% if lot.auction %}
        <br><br><a href='/lots/?auction={{lot.auction.slug}}'>View all lots for {{ lot.auction }}</a><br>
        {% endif %}
        {% if lot.auction.created_by.pk == request.user.id or request.user.is_superuser %}
        
        <button class="btn btn-danger" name="action_unban" onclick="ban_lot('{% if lot.banned %}unban{% else %}ban{% endif %}')">{% if lot.banned %}Unban this lot{% else %}Ban this lot{% endif %}</button>
        
        {% endif %}
        {% if request.user.is_superuser %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <canvas id="myChart" ></canvas>
        <span class="text-muted">Total views: {{lot.page_views }} ({{ lot.anonymous_views }} anyonymous views not shown)</span>
        <script>
            $.ajax({
                url: '/api/chart/lots/{{lot.pk}}/',
                success: function (data) {
                    var ctx = document.getElementById('myChart').getContext('2d');
                    Chart.defaults.global.defaultFontColor = "#fff";
                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                            label: 'View time',
                            backgroundColor: 'rgba(52, 152, 219, 0.4)',
                            data: data.data
                            }]
                        },
                        options: {
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: 'User view durations (seconds) of this lot'
                            }
                        }    
                    });
                }
            });
        </script>
        {% endif %}
    </div>
</div>
</div>  

{% endblock %}


