{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Email" %}{% endblock %}

{% block content %}

{% include "preferences_ribbon.html" %}

<h1>{% trans "Change Email" %}</h1>

{% if not emailaddresses %}
    {% include "account/snippets/warn_no_email.html" %}
{% endif %}

{% if current_emailaddress %}
    <div class="mb-3">
        <label class="form-label">{% trans "Current email" %}:</label>
        <input type="email" class="form-control text-light bg-dark" value="{{ current_emailaddress.email }}" disabled>
    </div>
{% endif %}

{% if new_emailaddress %}
    <div class="mb-3">
        <label class="form-label">
            {% if not current_emailaddress %}
                {% trans "Current email" %}:
            {% else %}
                {% trans "Changing to" %}:
            {% endif %}
        </label>
        <input type="email" class="form-control text-light bg-dark" value="{{ new_emailaddress.email }}" disabled>
        <div class="form-text">
            {% trans "Your email address is still pending verification." %}
        </div>
        <div class="mt-2">
            <form method="post" action="{% url 'account_email' %}" id="pending-email" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
                <button type="submit" name="action_send" class="btn btn-sm btn-secondary">{% trans 'Re-send Verification' %}</button>
                {% if current_emailaddress %}
                    <button type="submit" name="action_remove" class="btn btn-sm btn-danger">{% trans 'Cancel Change' %}</button>
                {% endif %}
            </form>
        </div>
    </div>
{% endif %}

<form method="post" action="{% url 'account_email' %}">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-success" type="submit" name="action_add">{% trans "Change Email" %}</button>
</form>

{% endblock %}
