{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign In" %}</h1>

    <a id='sign-in-google' class='btn btn-primary' href="/google/login/?process=login&next={{ redirect_field_value }}">Sign in with your Google account</a>

    <!-- <html>
      <body>
        <script src="https://accounts.google.com/gsi/client" async></script>
        <div id="g_id_onload"
            data-client_id="1028419796918-pao3l1te57kkskl7l3udmd026tbe3nbj"
            data-login_uri="/google/login/?process=login&next={{ redirect_field_value }}"
            data-auto_prompt="false">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
      <body>
    </html> -->
    

      <br><br><h5>Don't have a Google account?  Sign in with your account on this site:</h5>
     
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form | crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      
      <a class='btn btn-primary' href="{{ signup_url }}">Create a new account</a> <a class="btn btn-secondary" href="{% url 'account_reset_password' %}">{% trans "Forgot Password" %}</a> <button id='sign-in-local' class="btn btn-success" type="submit">{% trans "Sign In" %}</button>
    </form>

    {% endblock %}