{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
        <h1>{% trans "Password Reset" %}</h1>
      <br>
      {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}  
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
          {{ form | crispy }}
          <button class="btn btn-primary" type="submit" name="action">{% trans 'Reset My Password' %}</button> <a href="/account/" class="btn btn-warning active">Edit other info</a>
      </form>

{% endblock %}