{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-6 offset-md3">  
  <h1>{% trans "Change Password" %}</h1>
      <br>
      <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button> <a href="/account/" class="btn btn-warning active">Edit other info</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}