.bootstrap-datetimepicker-widget {
    background-color: #444 !important;
}

.select2-results {
    color: #444 !important;
}

@media (min-width: 1200px) {
    .nowrap {
        white-space: nowrap !important; 
    }
}

a {
    color: #2fa4e7;
}

a:hover {
    color: #727d83;
}

a.ad:hover { 
    color: inherit;
    text-decoration: none;
}

 
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232fa4e7' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%232fa4e7' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }

.carousel-indicators li {
    background-color: rgb(131, 131, 131);
  }
  
  .carousel-indicators .active {
    background-color: #2fa4e7;
  }
  
  .ui-autocomplete {
    z-index: 9999;
  }

  .modal {
    overflow-y:auto;
    overflow:auto;
    z-index: 1050;
  }

  .modelselect2 {
    display: none !important;
  }

  .select2-dropdown {
    z-index: 1060; 
  }

.modal-backdrop {
    z-index: 1040 !important;
}
