DEBUG='False' # True for development
NGINX_IMAGE='lscr.io/linuxserver/swag' # leave unset for development
NGINX_CONF='./nginx.prod.conf' # leave unset for development
NGINX_CONF_LOCATION='/config/nginx/site-confs/default.conf' # leave unset for development
SECRET_KEY='secret'
DATABASE_PASSWORD='secret'
DATABASE_ROOT_PASSWORD="secret"
EMAIL_USE_TLS='True'
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT='587'
EMAIL_HOST_USER='example@gmail.com'
EMAIL_HOST_PASSWORD='your gmail app password, not your gmail password'
DEFAULT_FROM_EMAIL="Notifications <example@gmail.com>"
SITE_DOMAIN="example.com"
GOOGLE_MEASUREMENT_ID="G-abcde"
GOOGLE_TAG_ID="GTM-abcde"
GOOGLE_MAPS_API_KEY='secret'
ADMIN_EMAIL='admin@example.com'
REDIS_PASSWORD='secret'
GOOGLE_ADSENSE_ID='ca-pub-abcde'
RECAPTCHA_PUBLIC_KEY='secret'
RECAPTCHA_PRIVATE_KEY='secret'
GOOGLE_OAUTH_LINK="secret.apps.googleusercontent.com"
HTTP_PORT="80"
SSL_PORT="443"