*.pyc
.env
db.sqlite3
set_env.sh
fishauctions/customsettings.py
media/
auctions/templates/ads.txt
swag/
mediafiles/
staticfiles/
logs/
tos.html
auctions/static/models/vosk/vosk-model-small-en-us-0.15/am/
auctions/static/models/vosk/vosk-model-small-en-us-0.15/conf/
auctions/static/models/vosk/vosk-model-small-en-us-0.15/graph/
auctions/static/models/vosk/vosk-model-small-en-us-0.15/ivector/
