# m h  dom mon dow   command
# Set lots as ended and declare a winner
* * * * * /home/app/web/task.sh endauctions

# Send reminder emails about watched items
*/15 * * * * /home/app/web/task.sh sendnotifications

# welcome and print erminder emails
*/15 * * * * /home/app/web/task.sh auctiontos_notifications

# Email users about invoices
*/15 * * * * /home/app/web/task.sh email_invoice

# send email
* * * * * /home/app/web/task.sh send_queued_mail

# send auction emails
*/4 * * * * /home/app/web/task.sh auction_emails

# send notifications about unread chats
0 10 * * * /home/app/web/task.sh email_unseen_chats

# weekly promo email sent on Wednesday
30 9 * * 3 /home/app/web/task.sh weekly_promo

# set user locations
0 */2 * * * /home/app/web/task.sh set_user_location

# check for duplicate page views
*/15 * * * * /home/app/web/task.sh remove_duplicate_views
