django-qr-code
python-barcode
asgiref
attrs
bleach
certifi
cffi
channels
chardet
cryptography
uvicorn
uvicorn[standard]
defusedxml
Django
django-allauth
django-autoslug
django-bootstrap-datepicker-plus
django-crispy-forms
django-el-pagination
django-extensions
django-filter
django-location-field
django-markdownfield
django-post-office
django-autocomplete-light
django_tables2
django_htmx
django_debug_toolbar
django-recaptcha
django-chartjs
easy-thumbnails>2.8.5
idna
Markdown
mysqlclient
oauthlib
packaging
Pillow
pyasn1
pyasn1-modules
pycparser
PyJWT
pyOpenSSL
pyparsing
pytz
requests
requests-oauthlib
shortuuid
six
sqlparse
urllib3
webencodings
crispy-bootstrap5
channels_redis
pyyaml
ua-parser
user-agents
heif-image-plugin
gunicorn
django-ses[events]
django-webpush
django-summernote
django-weasyprint
reportlab
beautifulsoup4
django-encrypted-model-fields
celery
django-celery-beat
redis
squareup
httpx[http2]
mailchimp-marketing
djangorestframework
djangorestframework-simplejwt
google-auth
firebase-admin
numpy
scipy
pygeomag
