django-qr-code
asgiref
attrs
autobahn
Automat
bleach
certifi
cffi
channels
chardet
constantly
cryptography
daphne
uvicorn
uvicorn[standard]
defusedxml
Django
django-allauth
django-autoslug
django-bootstrap-datepicker-plus
django-crispy-forms
django-el-pagination
django-extensions
django-filter
django-location-field
django-markdownfield
django-post-office
django-autocomplete-light
django_tables2
django_htmx
django_debug_toolbar
django-recaptcha
django-chartjs
easy-thumbnails>2.8.5
hyperlink
idna
incremental
jsonfield
Markdown
mysqlclient
oauthlib
packaging
Pillow
pip-review
pyasn1
pyasn1-modules
pycparser
PyHamcrest
PyJWT
PyMySQL
pyOpenSSL
pyparsing
python3-openid
pytz
requests
requests-oauthlib
service-identity
shortuuid
six
sqlparse
Twisted
txaio
urllib3
webencodings
zope.interface
crispy-bootstrap5
reportlab
channels_redis
pyyaml
ua-parser
user-agents
heif-image-plugin
gunicorn
django-ses[events]
