{% extends "base.html" %}
{% block title %}All pages for {{ auction }}{% endblock %}
{% block content %}
  {% include "auction_ribbon.html" %}
  <div class="col-lg-8 mt-3">
    {% for group in nav_groups %}
    {% if group.title %}<h5 class="mt-3">{{ group.title }}</h5>{% endif %}
    <div class="list-group mb-3">
      {% for row in group.rows %}
      <a class="list-group-item list-group-item-action" href="{{ row.url }}">
        <i class="bi {{ row.icon }}"></i> {{ row.label }}
        <div class="small text-muted">{{ row.description }}</div>
      </a>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
{% endblock %}
