{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block title %}Lots for {{ auction }}{% endblock %}
{% load static %}

{% block content %}
  {% include 'auction_ribbon.html' %}
  <small>This is a list of items for sale in your auction.  Click a lot name to edit it.  To add new lots, go to the <a href="{% url 'auction_tos_list' slug=auction.slug %}">users page</a> and click add lots under the appropriate user.<br></small>
    <a class='btn btn-sm btn-primary' href="{{ auction.set_lot_winners_link }}">Set lot winners</a>
    <a id='all_lot_list' href="{% url 'lot_list' slug=auction.slug %}" class="btn btn-sm mt-2 mb-2 btn-primary">Export CSV</a> 
    <a href="{{auction.view_lot_link}}" class="btn btn-sm btn-primary">See lots as users see them</a>

  <form class="col-sm-12 mt-2">
    {% crispy filter.form %}
  </form>
  {# Progress indicator #}
  {# <div class="progress"> <div class="indeterminate"></div>      </div>  #}
  {# The actual table #}
  {% render_table table %}
  <div id="modals-here"></div>
{% endblock %}

{% block extra_js %}
{% if auction.all_location_count > 1 %}
<script>
  $(document).ready(function(){
    $('#all_lot_list').mouseover(function() {
      $('#all_lot_list').attr('data-original-title', "This is a full list of all lots, you can download location-specific lot lists from the locations page").tooltip('show');
    });
  });
  </script>
  {% endif %}
{% endblock %}