{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block title %}Lots for {{ auction }}{% endblock %}
{% load static %}

{% block content %}
  {% include 'auction_ribbon.html' %}
  <small>This is a list of items for sale in your auction.  Click a lot name to edit it.  {% if auction.is_online %}You probably don't need to use this page; users will add their own lots to this auction{% else %}To add new lots, go to the <a href="{% url 'auction_tos_list' slug=auction.slug %}">users page</a> and click add lots under the appropriate user.{% endif %}<br>
  {% if auction.use_seller_dash_lot_numbering and not auction.admin_checklist_lots_added %}<br><div class=""><b class="text-warning">Change your lot numbering:</b> This auction uses seller-dash-lot numbering.  Go to the <a href="/auctions/{{auction.slug}}/edit">rules</a> and uncheck <b>Use seller dash lot numbering</b> to switch to a simpler lot numbering system that users find less confusing.  <a href='https://github.com/iragm/fishauctions/issues/269'>Read more and leave feedback here.</a><br></div>{% endif %}
  </small>
    {% if not auction.is_online %}<a class='btn btn-sm btn-primary' href="{{ auction.set_lot_winners_link }}"><i class="bi bi-calendar-check"></i> Set winners</a>{% endif %}
    <a id='all_lot_list' href="{% url 'lot_list' slug=auction.slug %}" class="btn btn-sm mt-2 mb-2 btn-primary"><i class="bi bi-download"></i> Export lot CSV</a>
    <a href="{{auction.view_lot_link}}" class="btn btn-sm btn-primary"><i class="bi bi-calendar"></i> See user view</a>

  <form class="col-sm-12 mt-2">
    {% crispy filter.form %}
  </form>
  {# Progress indicator #}
  {# <div class="progress"> <div class="indeterminate"></div>      </div>  #}
  {# The actual table #}
  {% render_table table %}
  <div id="modals-here"></div>
{% endblock %}

{% block extra_js %}
{% if auction.all_location_count > 1 %}
<script>
  $(document).ready(function(){
    $('#all_lot_list').mouseover(function() {
      $('#all_lot_list').attr('data-bs-title', "This is a full list of all lots, you can download location-specific lot lists from the locations page").tooltip('show');
    });
  });
  </script>
  {% endif %}
  <script>
    // update url to allow bookmarking searches
    document.getElementById('id_query').addEventListener('input', function(event) {
    let query = event.target.value;
    let newUrl = new URL(window.location);
    newUrl.searchParams.set('query', query);
    history.replaceState({}, '', newUrl);
    htmx.trigger('#filter-form', 'keyup');
  });
  </script>
{% endblock %}
