{% extends "auctions/htmx_table_view.html" %}
{% block title %}Lots for {{ auction }}{% endblock %}
{% load static %}

{% block htmx_table_ribbon %}
  {% include 'auction_ribbon.html' %}
{% endblock %}

{% block content %}
  {{ block.super }}
{% endblock %}

{% block extra_js %}
  {{ block.super }}
{% if auction.all_location_count > 1 %}
<script>
  $(document).ready(function(){
    $('#all_lot_list').mouseover(function() {
      $('#all_lot_list').attr('data-bs-title', "This uses your current filter.  You can also download location-specific lot lists from the locations page").tooltip('show');
    });
  });
  </script>
  {% endif %}
{% endblock %}
