{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Add users to {{ auction }}{% endblock %}
{% load static %}

{% block content %}
  {% include 'auction_ribbon.html' %}
  <br>

  <div class="btn-group">
  {% if request.user.is_superuser %}<input type="file" name="csv_file" id="csv_file" accept=".csv" hx-encoding="multipart/form-data" hx-post="{% url 'bulk_add_users' auction.slug %}" hx-swap="outerHTML" hx-target="body" style="display: none;">
  <button class="btn btn-primary btn-sm  ms-2 me-2" onclick="document.getElementById('csv_file').click()"><i class="bi bi-person-fill-up"></i> Import from CSV</button>{% endif %}
  <div class="dropdown">
    <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="bi bi-person-fill-add"></i> Import from old auctions
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for other_auction in other_auctions %}
      <a class="dropdown-item" href="{% url 'bulk_add_users' slug=auction.slug %}?import={{other_auction.slug}}">Import from {{other_auction}}</a>
      {% endfor %}
    </div>
  </div>
</div>


<br><small>Use this form to quickly add users to your auction</small>
  {{ link_formset.management_form }}
  <form id="form-container" method="POST" action="{% url 'bulk_add_users' slug=auction.slug %}">
    {% crispy formset helper %}
    <button class='btn bg-info' id="add-form" type="button">Add row</button><input type="submit" class='btn btn-success float-right ms-2' id='save' value="Add users to {{ auction }}">
  </form>
{% endblock %}

{% block extra_js %}
<script>
var form_id = '#form-container';
{% include 'leave_page_warning.js' %}
$('#add-form').click(function() {
  cloneMore('.lot-form:last', 'form');
});
function cloneMore(selector, type) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + type + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).removeAttr('checked'); // keep last row's values
        //$(this).attr({'name': name, 'id': id}).val('').removeAttr('checked'); // blank rows
    });
    newElement.find('label').each(function() {
        var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
        $(this).attr('for', newFor);
    });
    total++;
    $('#id_' + type + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
}
</script>
{% endblock %}
