{% extends "auctions/generic_admin_form.html" %}
{% block modal_dialog_class %}modal-dialog modal-dialog-centered{% endblock %}
{% block modal_title %}{{ title }}{% endblock %}
{% block modal_body %}<p>{{ body }}</p>{% endblock %}
{% block modal_footer %}
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-modal-close-action="none">Cancel</button>
  <button id="confirm-action-btn" type="button" class="btn btn-danger"
    hx-post="{{ action_url }}"
    hx-target="#modals-here">{{ confirm_button_label|default:"Confirm" }}</button>
</div>
{% endblock %}
{% block form_scripts %}{% endblock %}
