{% extends "auctions/htmx_table_view.html" %}

{% block title %}Selling{% endblock %}

{% block htmx_table %}
  {{ block.super }}
  <a href="{% url 'my_lot_report' %}" class="btn btn-primary"><i class="bi bi-download"></i> Export my sold lots CSV</a>
{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script>
    $.ajax({
      type: "POST",
      beforeSend: function (request) {
        request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
      },
      url: "/api/lots/new_lot_last_auction/",
      success: function (result) {
        $('#last-auction-special').html(result.result);
      }
    });
  </script>
{% endblock %}
