{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}
{% block title %}Selling{% endblock %}
{% load static %}
{% block extra_js %}
<script>
$.ajax({
  type: "POST",
  beforeSend: function (request) {
      request.setRequestHeader("X-CSRFTOKEN", "{{ csrf_token }}");
  },
  url: "/api/lots/new_lot_last_auction/",
  success : function(result) {
      $('#last-auction-special').html(result.result);
  }
});
</script>
{% endblock %}
{% block content %}
    <span class="">Looking to sell stuff?  Use this page to quickly create and manage your lots.</span><br><br><small>It's free to use this site to sell fish with or without an auction.  If you sell fish without putting them in a club auction, promotional emails advertising your lots will go out every Wednesday.</small><br><br>
    {% if not userdata.email_me_when_people_comment_on_my_lots %}You've turned off email notifications when people comment on your lots.  You should probably turn that back on in <a href="{% url 'preferences' %}">preferences</a>.{% endif %}
    {% if not userdata.email_visible %}Your email is currently hidden.  You may want to make it visible in <a href="{% url 'preferences' %}">preferences</a>.{% endif %}
    {% if not userdata.email_me_when_people_comment_on_my_lots and not userdata.email_visible %}With both options turned off, <span class='text-warning'>people have no way to contact you on this site</span> and your sales will probably suffer.{% endif %}

    <small><span class='text-warning' id="last-auction-special"></span></small><br>
    <a href="{% url 'new_lot' %}" class="btn btn-sm ms-2 mt-2 mb-2 btn-info"><i class="bi bi-calendar-plus"></i> Create new lot</a>
    {% if userdata.last_auction_used %}
    {% if not userdata.last_auction_used.is_online and userdata.last_auction_used.allow_bulk_adding_lots %}
      <a href="{% url 'bulk_add_lots_for_myself' slug=userdata.last_auction_used.slug %}" class="btn btn-sm ms-2 mt-2 mb-2 btn-info"><i class="bi bi-calendar-plus"></i> Bulk add lots to {{userdata.last_auction_used}}</a>
    {% endif %}
    <a href="{% url 'my_auction_invoice' slug=userdata.last_auction_used.slug %}" class="btn btn-sm ms-2 mt-2 mb-2 btn-primary"><i class="bi bi-bag"></i> Invoice for {{userdata.last_auction_used}}</a>
    <a href="{% url 'print_my_labels' slug=userdata.last_auction_used.slug %}" class="btn btn-sm ms-2 mt-2 mb-2 btn-primary"><i class="bi bi-tags"></i> Print labels for {{userdata.last_auction_used}}</a>
    {% endif %}
  <form class="col-sm-12 mt-2">
    {% crispy filter.form %}
  </form>
  {# Progress indicator #}
  {# <div class="progress"> <div class="indeterminate"></div>      </div>  #}
  {# The actual table #}
  {% render_table table %}
  <div id="modals-here"></div>
  <a href="{% url 'my_lot_report' %}" class="btn btn-primary"><i class="bi bi-download"></i> Export my sold lots CSV</a>
{% endblock %}
