{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Delete auction {% endblock %}
{% load static %}
{% block content %}
            <form method="post">{% csrf_token %}
                <p>Are you sure you want to delete {{ object }}?</p>
                <span class="text-warning">This cannot be undone!</span><br>
                <a href="{% url 'auction_pickup_location' slug=object.auction.slug %}" class='btn btn-secondary ms-2'>Keep this location</a>
                <input type="submit" class='text-dark btn btn-danger' value="Delete">
            </form>
{% endblock %}