{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Set winners for {{ auction }}{% endblock %}

{% block extra_js %}
<script>
$(window).on("load", function() {
  $('#id_lot').select();
});
</script>
{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row">
        {% include 'auction_ribbon.html' %}
<p><span class='text-muted'><small>Use this page to quickly set the winners of lots. Choose between the <a href="{% url 'auction_lot_winners_autocomplete' slug=auction.slug %}">autocomplete form</a> that lets you search for people's names, or the <a href="{% url 'auction_lot_winners' slug=auction.slug %}">standard form</a> that uses bidder numbers only, perfect for large auctions.  Tip: press tab to move to the next field</small></span></p>
{% crispy form form.helper %}
    </div>
</div>
{% endblock %}