[Unit]
Description=Check for an approved production deploy request every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=10s

[Install]
WantedBy=timers.target
