{% extends "auctions/embeds/base.html" %}
{% comment %}The club's most recent announcements. Only ones marked "show on website" are ever here --
that checkbox is the difference between telling the Discord regulars and putting something on the
front page. Default count is 1, because the usual use is a single line at the top of a home page.{% endcomment %}
{% block embed_title %}{{ club_name }} announcements{% endblock %}
{% block embed_body %}
    {% if announcements %}
    <ul class="ew-list">
      {% for announcement in announcements %}
      <li>
        <p class="ew-body">{{ announcement.text }}</p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="ew-empty">Nothing new right now.</p>
    {% endif %}
{% endblock %}
